openapi: 3.0.4
info:
  title: Insights.Api Balancing Mechanism Dynamic Balancing Mechanism Physical API
  version: '1.0'
  description: Dynamic data.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: Balancing Mechanism Physical
  description: Physical data consists of PN, QPN, MILS, &amp; MELS.
paths:
  /balancing/physical:
    get:
      tags:
      - Balancing Mechanism Physical
      summary: Physical data per BMU (PN, QPN, MILS, MELS)
      description: "This endpoint provides the physical data for a requested BMU.\nIt returns the data valid over a given time range.\n            \nBy default, all of the relevant datasets are returned: PN, QPN, MILS, & MELS.\nThe results from each dataset are transformed to a common response model, with fields not present in all 4 datasets dropped.\n            \nBy default, the from and to parameters filter the data by start time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of start time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: bmUnit
        in: query
        description: The BM Unit to query.
        required: true
        schema:
          type: string
          example: 2__HFLEX001
        example: 2__HFLEX001
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-22T00:00Z
        example: 2022-09-22T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-23T00:00Z
        example: 2022-09-23T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: dataset
        in: query
        description: Datasets to filter. If empty, all datasets will be returned.
        schema:
          type: array
          items:
            type: string
          example:
          - PN
          - MILS
        example:
        - PN
        - MILS
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /balancing/physical/all:
    get:
      tags:
      - Balancing Mechanism Physical
      summary: Market-wide physical data (PN, QPN, MILS, MELS)
      description: "This endpoint provides the physical data for multiple requested BMUs or all BMUs.\nIt returns the data valid for a single settlement period.\n            \nOnly one dataset can be queried at a time: PN, QPN, MILS, or MELS.\nThe results from each dataset are transformed to a common response model, with fields not present in all 4 datasets dropped.\n            \nThe settlement period to query must be specified as a date and settlement period. The date must be given in the format yyyy-MM-dd."
      parameters:
      - name: dataset
        in: query
        description: Dataset to query.
        required: true
        schema:
          enum:
          - PN
          - QPN
          - MILS
          - MELS
          type: string
          example: PN
        example: PN
      - name: settlementDate
        in: query
        description: The settlement date for the filter.
        required: true
        schema:
          type: string
          format: date
          example: '2023-01-18'
        example: '2023-01-18'
      - name: settlementPeriod
        in: query
        description: The settlement period for the filter. This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 3
        example: 3
      - name: bmUnit
        in: query
        description: The BM Units to query. Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.
        schema:
          type: array
          items:
            type: string
          example:
          - 2__HFLEX001
          - HUMR-1
        example:
        - 2__HFLEX001
        - HUMR-1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
components:
  schemas:
    Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
          nullable: true
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Metadata.ApiResponseSourceMetadata:
      type: object
      properties:
        datasets:
          type: array
          items:
            type: string
          nullable: true
          example:
          - DATASET
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Physical.PhysicalData:
      type: object
      properties:
        dataset:
          type: string
          nullable: true
          example: PN
        settlementDate:
          type: string
          format: date
          example: '2022-07-01'
        settlementPeriod:
          type: integer
          format: int32
          example: 3
        timeFrom:
          type: string
          format: date-time
          example: '2022-07-01T13:34:00Z'
        timeTo:
          type: string
          format: date-time
          example: '2022-07-01T13:34:00Z'
        levelFrom:
          type: integer
          format: int32
          example: 5
        levelTo:
          type: integer
          format: int32
          example: 46
        nationalGridBmUnit:
          type: string
          nullable: true
          example: ABRBO-1
        bmUnit:
          type: string
          nullable: true
          example: T_ABRBO-1
      additionalProperties: false
