openapi: 3.2.0
info:
  title: Insights.Api Indicative Imbalance Settlement API
  version: '1.0'
  description: Data related to the settlement process.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: Indicative Imbalance Settlement
  description: Data related to the settlement process.
paths:
  /balancing/settlement/messages/{settlementDate}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Settlement messages by settlement date (SMSG)
      description: 'Returns settlement messages generated by the SAA for a given settlement day, relating to the data

        for a settlement run.


        For each settlement period within the range, only messages generated for the latest settlement run are returned.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementDate
        in: path
        description: The settlement date to filter. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementMessagesBySettlementDate
      x-operation-id-source: derived
  /balancing/settlement/messages/{settlementDate}/{settlementPeriod}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Settlement messages by settlement date and period (SMSG)
      description: 'Returns settlement messages generated by the SAA for a given settlement period, relating to the data

        for a settlement run.


        Only messages generated for the latest settlement run are returned.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementPeriod
        in: path
        description: The settlement period to filter. This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 3
        example: 3
      - name: settlementDate
        in: path
        description: The settlement date to filter. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementMessagesBySettlementDateBySettlementPeriod
      x-operation-id-source: derived
  /balancing/settlement/stack/all/{bidOffer}/{settlementDate}/{settlementPeriod}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Settlement bid-offer stacks by settlement period (ISPSTACK)
      description: 'Returns detailed system prices generated by the latest calculation run for a given settlement period.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: bidOffer
        in: path
        description: Filter if bid or offer data is to be returned.
        required: true
        schema:
          enum:
          - bid
          - offer
          type: string
          example: bid
        example: bid
      - name: settlementDate
        in: path
        description: The settlement date for the filter. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: settlementPeriod
        in: path
        description: The settlement period for the filter.
        required: true
        schema:
          type: integer
          format: int32
          example: 1
        example: 1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementStackResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementStackResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementStackResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementStackResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementStackResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementStackResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementStackAllByBidOfferBySettlementDateBySettlementPeriod
      x-operation-id-source: derived
  /balancing/settlement/summary/{settlementDate}/{settlementPeriod}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Settlement calculation summary (ISPSTACK, DISEBSP, MID, NETBSAD)
      description: 'Returns the settlement calculation summary for the requested settlement period.

        Data is derived from the following datasets: ISPSTACK, DISEBSP, MID, NETBSAD


        In JSON format, decimal values are returned as strings to avoid loss of precision.'
      parameters:
      - name: settlementDate
        in: path
        description: This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: settlementPeriod
        in: path
        description: This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 1
        example: 1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.SettlementSummaryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.SettlementSummaryResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '404':
          description: No data found for the requested parameters
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementSummaryBySettlementDateBySettlementPeriod
      x-operation-id-source: derived
  /balancing/settlement/default-notices:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Default notices (CDN)
      description: This endpoint provides a subset of CDN (Credit Default Notice) data received from ECVAA (Energy Contract Volume Aggregation Agent). It returns the defaults that are in force and defaults that have closed within the last 7 days.
      parameters:
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.CreditDefaultNoticeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.CreditDefaultNoticeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.CreditDefaultNoticeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.CreditDefaultNoticeResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.CreditDefaultNoticeResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.CreditDefaultNoticeResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementDefaultNotices
      x-operation-id-source: derived
  /balancing/settlement/system-prices/{settlementDate}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Settlement system prices by settlement date (DISEBSP)
      description: 'Returns settlement system buy and sell prices generated by the SAA for a given settlement day, relating to

        the data for a settlement run.


        For each settlement period within the range, only messages generated for the latest settlement run are returned.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementDate
        in: path
        description: The settlement date to filter. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementSystemPricesBySettlementDate
      x-operation-id-source: derived
  /balancing/settlement/system-prices/{settlementDate}/{settlementPeriod}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Settlement system prices by settlement date and period (DISEBSP)
      description: 'Returns settlement system buy and sell prices generated by the SAA for a given settlement period, relating to

        the data for a settlement run.


        Only messages generated for the latest settlement run are returned.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementPeriod
        in: path
        description: The settlement period to filter. This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 1
        example: 1
      - name: settlementDate
        in: path
        description: The settlement date to filter. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementSystemPricesBySettlementDateBySettlementPeriod
      x-operation-id-source: derived
  /balancing/settlement/acceptance/volumes/all/{bidOffer}/{settlementDate}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Acceptance volumes by settlement date (BOAV)
      description: 'Returns the settlement acceptance volumes for the requested settlement date.


        For each settlement period within the range, only messages generated for the latest settlement run are returned.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementDate
        in: path
        description: This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: bidOffer
        in: path
        required: true
        schema:
          enum:
          - bid
          - offer
          type: string
          example: bid
        example: bid
      - name: bmUnit
        in: query
        description: Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.
        schema:
          type: array
          items:
            type: string
          example:
          - DALSW-1
        example:
        - DALSW-1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.AcceptanceVolumeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.AcceptanceVolumeResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementAcceptanceVolumesAllByBidOfferBySettlementDate
      x-operation-id-source: derived
  /balancing/settlement/acceptance/volumes/all/{bidOffer}/{settlementDate}/{settlementPeriod}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Acceptance volumes by settlement period (BOAV)
      description: 'Returns the settlement acceptance volumes for the requested settlement period.


        Only messages generated for the latest settlement run are returned.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementPeriod
        in: path
        description: This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 48
        example: 48
      - name: settlementDate
        in: path
        description: This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: bidOffer
        in: path
        required: true
        schema:
          enum:
          - bid
          - offer
          type: string
          example: bid
        example: bid
      - name: bmUnit
        in: query
        description: Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.
        schema:
          type: array
          items:
            type: string
          example:
          - DALSW-1
        example:
        - DALSW-1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.AcceptanceVolumeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.AcceptanceVolumeResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementAcceptanceVolumesAllByBidOfferBySettlementDateBySettlementPeriod
      x-operation-id-source: derived
  /balancing/settlement/indicative/volumes/all/{bidOffer}/{settlementDate}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Indicative volumes by settlement date (DISPTAV)
      description: 'Returns the settlement indicative volumes for the requested settlement date.


        For each settlement period within the range, only messages generated for the latest settlement run are returned.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementDate
        in: path
        description: This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: bidOffer
        in: path
        required: true
        schema:
          enum:
          - bid
          - offer
          type: string
          example: bid
        example: bid
      - name: bmUnit
        in: query
        description: Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.
        schema:
          type: array
          items:
            type: string
          example:
          - 2__CMRCY001
        example:
        - 2__CMRCY001
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.IndicativeVolumeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.IndicativeVolumeResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementIndicativeVolumesAllByBidOfferBySettlementDate
      x-operation-id-source: derived
  /balancing/settlement/indicative/volumes/all/{bidOffer}/{settlementDate}/{settlementPeriod}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Indicative volumes by settlement period (DISPTAV)
      description: 'Returns the settlement indicative volumes for the requested settlement period.


        Only messages generated for the latest settlement run are returned.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementPeriod
        in: path
        description: This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 2
        example: 2
      - name: settlementDate
        in: path
        description: This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: bidOffer
        in: path
        required: true
        schema:
          enum:
          - bid
          - offer
          type: string
          example: bid
        example: bid
      - name: bmUnit
        in: query
        description: Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.
        schema:
          type: array
          items:
            type: string
          example:
          - 2__CMRCY001
        example:
        - 2__CMRCY001
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.IndicativeVolumeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.IndicativeVolumeResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementIndicativeVolumesAllByBidOfferBySettlementDateBySettlementPeriod
      x-operation-id-source: derived
  /balancing/settlement/indicative/cashflows/all/{bidOffer}/{settlementDate}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Indicative period BMU cashflows by settlement date (EBOCF)
      description: 'Returns derived indicative cashflow data generated by the latest calculation run for a given settlement date.


        For each settlement period within the range, only messages generated for the latest settlement run are returned.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: bidOffer
        in: path
        description: Filter if bid or offer data is to be returned.
        required: true
        schema:
          enum:
          - bid
          - offer
          type: string
          example: bid
        example: bid
      - name: settlementDate
        in: path
        description: The settlement date for the filter. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: bmUnit
        in: query
        description: The BM Units to query. Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.
        schema:
          type: array
          items:
            type: string
          example:
          - T_DINO-2
        example:
        - T_DINO-2
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.IndicativeCashflowResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.IndicativeCashflowResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementIndicativeCashflowsAllByBidOfferBySettlementDate
      x-operation-id-source: derived
  /balancing/settlement/indicative/cashflows/all/{bidOffer}/{settlementDate}/{settlementPeriod}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Indicative period BMU cashflows by settlement period (EBOCF)
      description: 'Returns derived indicative cashflow data generated by the latest calculation run for a given settlement period.


        Only messages generated for the latest settlement run are returned.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementPeriod
        in: path
        description: The settlement period for the filter.
        required: true
        schema:
          type: integer
          format: int32
          example: 9
        example: 9
      - name: bidOffer
        in: path
        description: Filter if bid or offer data is to be returned.
        required: true
        schema:
          enum:
          - bid
          - offer
          type: string
          example: bid
        example: bid
      - name: settlementDate
        in: path
        description: The settlement date for the filter. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: bmUnit
        in: query
        description: The BM Units to query. Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.
        schema:
          type: array
          items:
            type: string
          example:
          - T_DINO-2
        example:
        - T_DINO-2
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.IndicativeCashflowResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.IndicativeCashflowResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementIndicativeCashflowsAllByBidOfferBySettlementDateBySettlementPeriod
      x-operation-id-source: derived
  /balancing/settlement/acceptances/all/{settlementDate}/{settlementPeriod}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Historic acceptances by settlement period (ISPSTACK, BOALF, BOD)
      description: 'Returns the bid and offer prices for acceptances, with the acceptance number and acceptance time. Results are sorted by descending acceptance time.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementDate
        in: path
        description: The settlement date for the filter. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: settlementPeriod
        in: path
        description: The settlement period to filter. This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 1
        example: 1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.HistoricAcceptanceResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.HistoricAcceptanceResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.HistoricAcceptanceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.HistoricAcceptanceResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.HistoricAcceptanceResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.HistoricAcceptanceResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementAcceptancesAllBySettlementDateBySettlementPeriod
      x-operation-id-source: derived
  /balancing/settlement/market-depth/{settlementDate}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Market depth by settlement date (IMBALNGC, BOD, DISEBSP, DISPTAV)
      description: 'Returns market depth data for a given day.

        Imbalance (MW) is retrieved from IMBALNGC.

        Bid/offer volumes (MWh) are calculated by summing bid/offer volumes from BOD.

        Total acceptance volumes (MWh) are retrieved from DISEBSP.

        Priced acceptance volumes (MWh) are calculated by summing bid/offer accepted volumes with data type Original from DISPTAV.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementDate
        in: path
        description: The settlement date for the filter. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementMarketDepthBySettlementDate
      x-operation-id-source: derived
  /balancing/settlement/market-depth/{settlementDate}/{settlementPeriod}:
    get:
      tags:
      - Indicative Imbalance Settlement
      summary: Market depth by settlement period (IMBALNGC, BOD, DISEBSP, DISPTAV)
      description: 'Returns market depth data for a given settlement period.

        Imbalance (MW) is retrieved from IMBALNGC.

        Bid/offer volumes (MWh) are calculated by summing bid/offer volumes from BOD.

        Total acceptance volumes (MWh) are retrieved from DISEBSP.

        Priced acceptance volumes (MWh) are calculated by summing bid/offer accepted volumes with data type Original from DISPTAV.


        Settlement date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementPeriod
        in: path
        description: The settlement period to filter. This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 1
        example: 1
      - name: settlementDate
        in: path
        description: The settlement date for the filter. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2024-02-01'
        example: '2024-02-01'
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingSettlementMarketDepthBySettlementDateBySettlementPeriod
      x-operation-id-source: derived
components:
  schemas:
    Insights.Api.Models.Metadata.ApiResponseSourceMetadata:
      type: object
      properties:
        datasets:
          type:
          - array
          - 'null'
          items:
            type: string
          example:
          - DATASET
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.IndicativeVolumeResponse
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.IndicativeVolumeResponse'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse:
      type: object
      properties:
        settlementDate:
          type: string
          format: date
          example: '2023-09-18'
        settlementPeriod:
          type: integer
          format: int32
          example: 2
        startTime:
          type: string
          format: date-time
          example: '2023-09-18T00:30:00Z'
        createdDateTime:
          type: string
          format: date-time
          example: '2023-09-17T15:31:12Z'
        systemSellPrice:
          type: number
          format: double
          example: 215
        systemBuyPrice:
          type: number
          format: double
          example: 215
        bsadDefaulted:
          type: boolean
          example: false
        priceDerivationCode:
          type:
          - string
          - 'null'
          example: P
        reserveScarcityPrice:
          type:
          - number
          - 'null'
          format: double
          example: 0
        netImbalanceVolume:
          type: number
          format: double
          example: 291.9136
        sellPriceAdjustment:
          type:
          - number
          - 'null'
          format: double
          example: 0
        buyPriceAdjustment:
          type:
          - number
          - 'null'
          format: double
          example: 0
        replacementPrice:
          type:
          - number
          - 'null'
          format: double
          example: null
        replacementPriceReferenceVolume:
          type:
          - number
          - 'null'
          format: double
          example: null
        totalAcceptedOfferVolume:
          type:
          - number
          - 'null'
          format: double
          example: 790.6547
        totalAcceptedBidVolume:
          type:
          - number
          - 'null'
          format: double
          example: -738.74115
        totalAdjustmentSellVolume:
          type:
          - number
          - 'null'
          format: double
          example: 0
        totalAdjustmentBuyVolume:
          type:
          - number
          - 'null'
          format: double
          example: 240
        totalSystemTaggedAcceptedOfferVolume:
          type:
          - number
          - 'null'
          format: double
          example: 789.6547
        totalSystemTaggedAcceptedBidVolume:
          type:
          - number
          - 'null'
          format: double
          example: -738.74115
        totalSystemTaggedAdjustmentSellVolume:
          type:
          - number
          - 'null'
          format: double
          example: null
        totalSystemTaggedAdjustmentBuyVolume:
          type:
          - number
          - 'null'
          format: double
          example: 240
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.SystemPriceResponse'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.CreditDefaultNoticeResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.CreditDefaultNoticeResponse'
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Settlement.IndicativeVolumeResponse:
      type: object
      properties:
        createdDateTime:
          type: string
          format: date-time
          example: '2023-02-28T15:31:12Z'
        settlementDate:
          type: string
          format: date
          example: '2023-03-01'
        settlementPeriod:
          type: integer
          format: int32
          example: 2
        startTime:
          type: string
          format: date-time
          example: '2023-03-01T00:30:00Z'
        bmUnit:
          type:
          - string
          - 'null'
          example: T_ABRBO-1
        bmUnitType:
          type: string
          example: T
        leadPartyName:
          type:
          - string
          - 'null'
          example: Aberdeen Offshore Wind Farm
        nationalGridBmUnit:
          type:
          - string
          - 'null'
          example: ABRBO-1
        dataType:
          type:
          - string
          - 'null'
          example: Original
        totalVolumeAccepted:
          type:
          - number
          - 'null'
          format: double
          example: -75.725
        pairVolumes:
          $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.DerivedDataBidOfferPairs'
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.HistoricAcceptanceResponse
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.HistoricAcceptanceResponse'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementStackResponse
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.SettlementStackResponse'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Settlement.SettlementStackResponse:
      type: object
      properties:
        settlementDate:
          type: string
          format: date
          example: '2021-12-05'
        settlementPeriod:
          type: integer
          format: int32
          example: 14
        startTime:
          type: string
          format: date-time
          example: '2021-12-05T08:00:00Z'
        createdDateTime:
          type:
          - string
          - 'null'
          format: date-time
          example: '2023-09-17T09:03:18.74Z'
        sequenceNumber:
          type: integer
          format: int32
          example: 1
        id:
          type:
          - string
          - 'null'
          example: T_STAY-2
        acceptanceId:
          type:
          - integer
          - 'null'
          format: int64
          example: 102999
        bidOfferPairId:
          type:
          - integer
          - 'null'
          format: int32
          example: 1
        cadlFlag:
          type:
          - boolean
          - 'null'
          example: false
        soFlag:
          type:
          - boolean
          - 'null'
          example: false
        storProviderFlag:
          type:
          - boolean
          - 'null'
          example: false
        repricedIndicator:
          type: boolean
          example: false
        reserveScarcityPrice:
          type:
          - number
          - 'null'
          format: double
          example: 0
        originalPrice:
          type:
          - number
          - 'null'
          format: double
          example: 202
        volume:
          type: number
          format: double
          example: 52.5
        dmatAdjustedVolume:
          type:
          - number
          - 'null'
          format: double
          example: 52.5
        arbitrageAdjustedVolume:
          type:
          - number
          - 'null'
          format: double
          example: 52.5
        nivAdjustedVolume:
          type:
          - number
          - 'null'
          format: double
          example: 52.5
        parAdjustedVolume:
          type:
          - number
          - 'null'
          format: double
          example: 0
        finalPrice:
          type:
          - number
          - 'null'
          format: double
          example: null
        transmissionLossMultiplier:
          type:
          - number
          - 'null'
          format: double
          example: 0.9933898
        tlmAdjustedVolume:
          type:
          - number
          - 'null'
          format: double
          example: 0
        tlmAdjustedCost:
          type:
          - number
          - 'null'
          format: double
          example: 0
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Settlement.DerivedDataBidOfferPairs:
      type: object
      properties:
        negative1:
          type:
          - number
          - 'null'
          format: double
          example: null
        positive1:
          type:
          - number
          - 'null'
          format: double
          example: 23062.377
        negative2:
          type:
          - number
          - 'null'
          format: double
          example: null
        positive2:
          type:
          - number
          - 'null'
          format: double
          example: 5017.6255
        negative3:
          type:
          - number
          - 'null'
          format: double
          example: null
        positive3:
          type:
          - number
          - 'null'
          format: double
          example: null
        negative4:
          type:
          - number
          - 'null'
          format: double
          example: null
        positive4:
          type:
          - number
          - 'null'
          format: double
          example: null
        negative5:
          type:
          - number
          - 'null'
          format: double
          example: null
        positive5:
          type:
          - number
          - 'null'
          format: double
          example: null
        negative6:
          type:
          - number
          - 'null'
          format: double
          example: null
        positive6:
          type:
          - number
          - 'null'
          format: double
          example: null
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.CreditDefaultNoticeResponse:
      type: object
      properties:
        participantId:
          type:
          - string
          - 'null'
          example: INVE
        participantName:
          type:
          - string
          - 'null'
          example: AMPowerUK Ltd
        creditDefaultLevel:
          type: integer
          format: int32
          example: 2
        enteredDefaultSettlementDate:
          type: string
          format: date
          example: '2022-06-25'
        enteredDefaultSettlementPeriod:
          type: integer
          format: int32
          example: 3
        clearedDefaultSettlementDate:
          type:
          - string
          - 'null'
          format: date
          example: '2022-07-02'
        clearedDefaultSettlementPeriod:
          type:
          - integer
          - 'null'
          format: int32
          example: 29
        clearedDefaultText:
          type:
          - string
          - 'null'
          example: Credit Cover Percentage greater than or equal to 90% of Credit Limit (Level 2 Default)
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Settlement.HistoricAcceptanceResponse:
      type: object
      properties:
        settlementDate:
          type: string
          format: date
          example: '2023-11-15'
        settlementPeriod:
          type: integer
          format: int32
          example: 1
        bmUnit:
          type:
          - string
          - 'null'
          example: 2__AFLEX003
        nationalGridBmUnit:
          type:
          - string
          - 'null'
          example: AG-AFLX03
        acceptanceNumber:
          type: integer
          format: int64
          example: 22
        acceptanceTime:
          type: string
          format: date-time
          example: '2023-11-15T00:00:00Z'
        bidPrice:
          type:
          - number
          - 'null'
          format: double
          example: -44.95
        offerPrice:
          type:
          - number
          - 'null'
          format: double
          example: 449.95
        bidOfferPairId:
          type: integer
          format: int32
          example: 1
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Settlement.AcceptanceVolumeResponse:
      type: object
      properties:
        createdDateTime:
          type: string
          format: date-time
          example: '2023-02-28T15:31:12Z'
        settlementDate:
          type: string
          format: date
          example: '2023-03-01'
        settlementPeriod:
          type: integer
          format: int32
          example: 2
        startTime:
          type: string
          format: date-time
          example: '2023-03-01T00:30:00Z'
        bmUnit:
          type:
          - string
          - 'null'
          example: T_ABRBO-1
        bmUnitType:
          type: string
          example: T
        leadPartyName:
          type:
          - string
          - 'null'
          example: Aberdeen Offshore Wind Farm
        nationalGridBmUnit:
          type:
          - string
          - 'null'
          example: ABRBO-1
        acceptanceId:
          type: integer
          format: int64
          example: 76110
        acceptanceDuration:
          type:
          - string
          - 'null'
          example: L
        totalVolumeAccepted:
          type:
          - number
          - 'null'
          format: double
          example: -75.725
        pairVolumes:
          $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.DerivedDataBidOfferPairs'
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.IndicativeCashflowResponse
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.IndicativeCashflowResponse'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Settlement.SettlementMessageResponse:
      type: object
      properties:
        settlementDate:
          type: string
          format: date
          example: '2023-09-18'
        settlementPeriod:
          type: integer
          format: int32
          example: 2
        startTime:
          type: string
          format: date-time
          example: '2023-09-18T00:30:00Z'
        messageReceivedDateTime:
          type: string
          format: date-time
          example: '2023-09-17T15:31:12Z'
        messageSeverity:
          type:
          - string
          - 'null'
          example: Error
        messageTypeCode:
          type:
          - string
          - 'null'
          example: ERR-BM-001
        messageType:
          type:
          - string
          - 'null'
          example: FPN
        messageText:
          type:
          - string
          - 'null'
          example: No FPN files have been received.
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Settlement.SettlementSummaryPrice:
      type: object
      properties:
        cost:
          type:
          - number
          - 'null'
          format: double
          example: -53.66
        volume:
          type:
          - number
          - 'null'
          format: double
          example: -0.994
        value:
          type:
          - number
          - 'null'
          format: double
          example: 54
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Settlement.SettlementSummaryResponse:
      type: object
      properties:
        createdDateTime:
          type: string
          format: date-time
          example: '2023-03-01T00:44:58Z'
        settlementDate:
          type: string
          format: date
          example: '2023-03-01'
        settlementPeriod:
          type: integer
          format: int32
          example: 1
        startTime:
          type:
          - string
          - 'null'
          format: date-time
          example: '2023-03-01T00:00:00Z'
        adjuster:
          type:
          - number
          - 'null'
          format: double
          example: 0
        priceDerivationCode:
          type:
          - string
          - 'null'
          example: N
        systemSellPrice:
          type:
          - number
          - 'null'
          format: double
          example: 54
        systemBuyPrice:
          type:
          - number
          - 'null'
          format: double
          example: 54
        mainPrice:
          $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.SettlementSummaryPrice'
        marketPrice:
          $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.SettlementSummaryPrice'
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Settlement.MarketDepthResponse:
      type: object
      properties:
        settlementDate:
          type: string
          format: date
          example: '2023-11-15'
        settlementPeriod:
          type: integer
          format: int32
          example: 1
        indicatedImbalance:
          type:
          - integer
          - 'null'
          format: int64
          example: 419
        offerVolume:
          type:
          - number
          - 'null'
          format: double
          example: 51708.5
        bidVolume:
          type:
          - number
          - 'null'
          format: double
          example: -60941.5
        totalAcceptedOfferVolume:
          type:
          - number
          - 'null'
          format: double
          example: 376.35834
        totalAcceptedBidVolume:
          type:
          - number
          - 'null'
          format: double
          example: -164.875
        pricedAcceptedOffersVolume:
          type:
          - number
          - 'null'
          format: double
          example: 573.8417
        pricedAcceptedBidsVolume:
          type:
          - number
          - 'null'
          format: double
          example: -42.375
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Settlement.AcceptanceVolumeResponse
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.AcceptanceVolumeResponse'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Settlement.IndicativeCashflowResponse:
      type: object
      properties:
        settlementDate:
          type: string
          format: date
          example: '2023-03-01'
        settlementPeriod:
          type: integer
          format: int32
          example: 1
        startTime:
          type: string
          format: date-time
          example: '2023-03-01T00:00:00Z'
        createdDateTime:
          type:
          - string
          - 'null'
          format: date-time
          example: '2023-09-17T09:03:18.74Z'
        bmUnit:
          type:
          - string
          - 'null'
          example: 2__AFLEX003
        bmUnitType:
          type: string
          example: S
        leadPartyName:
          type:
          - string
          - 'null'
          example: Flexitricity Limited
        nationalGridBmUnit:
          type:
          - string
          - 'null'
          example: AG-AFLX03
        bidOfferPairCashflows:
          $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Settlement.DerivedDataBidOfferPairs'
        totalCashflow:
          type: number
          format: double
          example: 28080.002
      additionalProperties: false
