openapi: 3.2.0
info:
  title: Insights.Api Reference API
  version: '1.0'
  description: Reference data which can be used to filter other API requests.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: Reference
  description: Reference data which can be used to filter other API requests.
paths:
  /reference/fueltypes/all:
    get:
      tags:
      - Reference
      summary: Fuel types
      description: This endpoint provides a current list of fuel types
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: string
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
            text/csv:
              schema:
                type: array
                items:
                  type: string
      operationId: getReferenceFueltypesAll
      x-operation-id-source: derived
  /reference/remit/participants/all:
    get:
      tags:
      - Reference
      summary: Participants
      description: This endpoint provides a current list of participant IDs received from REMIT messages
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: string
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
            text/csv:
              schema:
                type: array
                items:
                  type: string
      operationId: getReferenceRemitParticipantsAll
      x-operation-id-source: derived
  /reference/remit/assets/all:
    get:
      tags:
      - Reference
      summary: Assets
      description: This endpoint provides a current list of asset IDs received from REMIT messages
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: string
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
            text/csv:
              schema:
                type: array
                items:
                  type: string
      operationId: getReferenceRemitAssetsAll
      x-operation-id-source: derived
  /reference/remit/fueltypes/all:
    get:
      tags:
      - Reference
      summary: REMIT fuel types
      description: This endpoint provides a current list of fuel types received from REMIT messages
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: string
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
            text/csv:
              schema:
                type: array
                items:
                  type: string
      operationId: getReferenceRemitFueltypesAll
      x-operation-id-source: derived
  /reference/bmunits/all:
    get:
      tags:
      - Reference
      summary: BM Units
      description: This endpoint provides a current list of BM units held by Elexon
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
      operationId: getReferenceBmunitsAll
      x-operation-id-source: derived
  /reference/bmunits:
    get:
      tags:
      - Reference
      summary: BM Units (filtered)
      description: 'This endpoint provides a list of BM units filtered by lead party IDs.


        The PartyIds query parameter is required. Provide one or more lead party IDs to filter the results.'
      parameters:
      - name: partyIds
        in: query
        schema:
          type: array
          items:
            type: string
          example:
          - ADELA
          - LENCO
        example:
        - ADELA
        - LENCO
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.BmUnitData'
      operationId: getReferenceBmunits
      x-operation-id-source: derived
  /reference/interconnectors/all:
    get:
      tags:
      - Reference
      summary: Interconnectors
      description: This endpoint provides a current list of interconnectors
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.InterconnectorData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.InterconnectorData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.InterconnectorData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.InterconnectorData'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.InterconnectorData'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Reference.InterconnectorData'
      operationId: getReferenceInterconnectorsAll
      x-operation-id-source: derived
components:
  schemas:
    Insights.Api.Models.Responses.Reference.BmUnitData:
      type: object
      properties:
        nationalGridBmUnit:
          type:
          - string
          - 'null'
        elexonBmUnit:
          type:
          - string
          - 'null'
        eic:
          type:
          - string
          - 'null'
        fuelType:
          type:
          - string
          - 'null'
        leadPartyName:
          type:
          - string
          - 'null'
        bmUnitType:
          type:
          - string
          - 'null'
        fpnFlag:
          type:
          - boolean
          - 'null'
        bmUnitName:
          type:
          - string
          - 'null'
        leadPartyId:
          type:
          - string
          - 'null'
        demandCapacity:
          type:
          - string
          - 'null'
        generationCapacity:
          type:
          - string
          - 'null'
        productionOrConsumptionFlag:
          type:
          - string
          - 'null'
        transmissionLossFactor:
          type:
          - string
          - 'null'
        workingDayCreditAssessmentImportCapability:
          type:
          - string
          - 'null'
        nonWorkingDayCreditAssessmentImportCapability:
          type:
          - string
          - 'null'
        workingDayCreditAssessmentExportCapability:
          type:
          - string
          - 'null'
        nonWorkingDayCreditAssessmentExportCapability:
          type:
          - string
          - 'null'
        creditQualifyingStatus:
          type: boolean
        demandInProductionFlag:
          type: boolean
        gspGroupId:
          type:
          - string
          - 'null'
        gspGroupName:
          type:
          - string
          - 'null'
        interconnectorId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Insights.Api.Models.Responses.Reference.InterconnectorData:
      type: object
      properties:
        interconnectorId:
          type:
          - string
          - 'null'
        interconnectorName:
          type:
          - string
          - 'null'
        interconnectorBiddingZone:
          type:
          - string
          - 'null'
      additionalProperties: false
