openapi: 3.2.0
info:
  title: Insights.Api Temperature API
  version: '1.0'
  description: Daily average & reference temperatures.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: Temperature
  description: Daily average & reference temperatures.
paths:
  /temperature:
    get:
      tags:
      - Temperature
      summary: Temperature data (TEMP)
      description: 'This endpoint provides daily average GB temperature data (in Celsius) as well as reference temperatures (low, normal and high).

        This average data is calculated by National Grid ESO from the data retrieved from 6 weather stations around Britain.

        NGESO use this data as part of the electricity demand forecasting process.


        Date parameters must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: from
        in: query
        description: The from date for the filter. This must be in the format yyyy-MM-dd.
        schema:
          type: string
          format: date
          example: '2022-09-20'
        example: '2022-09-20'
      - name: to
        in: query
        description: The to date for the filter. This must be in the format yyyy-MM-dd.
        schema:
          type: string
          format: date
          example: '2022-09-21'
        example: '2022-09-21'
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Misc.TemperatureData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Misc.TemperatureData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Misc.TemperatureData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Misc.TemperatureData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Misc.TemperatureData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Misc.TemperatureData'
      operationId: getTemperature
      x-operation-id-source: derived
components:
  schemas:
    Insights.Api.Models.Responses.Misc.TemperatureData:
      type: object
      properties:
        measurementDate:
          type: string
          format: date
        publishTime:
          type:
          - string
          - 'null'
          format: date-time
        temperature:
          type:
          - number
          - 'null'
          format: double
        temperatureReferenceAverage:
          type:
          - number
          - 'null'
          format: double
        temperatureReferenceHigh:
          type:
          - number
          - 'null'
          format: double
        temperatureReferenceLow:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    Insights.Api.Models.Metadata.ApiResponseSourceMetadata:
      type: object
      properties:
        datasets:
          type:
          - array
          - 'null'
          items:
            type: string
          example:
          - DATASET
      additionalProperties: false
    Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Misc.TemperatureData:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Misc.TemperatureData'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
