openapi: 3.0.4
info:
  title: Insights.Api Balancing Mechanism Dynamic Legacy API
  version: '1.0'
  description: Dynamic data.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: Legacy
paths:
  /interop/MessageListRetrieval:
    get:
      tags:
      - Legacy
      summary: This endpoint is obsolete, and this location may be removed with no further notice. Use /remit/* or /datasets/REMIT endpoints instead.
      parameters:
      - name: eventStart
        in: query
        required: true
        schema:
          type: string
          format: date-time
          example: '2023-08-01'
        example: '2023-08-01'
      - name: eventEnd
        in: query
        required: true
        schema:
          type: string
          format: date-time
          example: '2023-08-02'
        example: '2023-08-02'
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitListResponse'
      deprecated: true
  /interop/MessageDetailRetrieval:
    get:
      tags:
      - Legacy
      summary: This endpoint is obsolete, and this location may be removed with no further notice. Use /remit/* or /datasets/REMIT endpoints instead.
      parameters:
      - name: messageId
        in: query
        required: true
        schema:
          type: string
          example: 2023060105000001-ELXP-RMT-20230601
        example: 2023060105000001-ELXP-RMT-20230601
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitDetailResponse'
      deprecated: true
components:
  schemas:
    Insights.Api.LegacyInteroperability.LegacyRemitOutageProfile:
      type: object
      properties:
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitOutageProfileSegment'
          nullable: true
      additionalProperties: false
    Insights.Api.LegacyInteroperability.LegacyRemitResponseList:
      type: object
      properties:
        item:
          type: array
          items:
            $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitListItem'
          nullable: true
      additionalProperties: false
    Insights.Api.LegacyInteroperability.LegacyRemitListResponse:
      type: object
      properties:
        legacyRemitListMetadata:
          $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitListMetadata'
        legacyRemitListResponseBody:
          $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitListResponseBody'
      additionalProperties: false
    Insights.Api.LegacyInteroperability.LegacyRemitDetailItem:
      type: object
      properties:
        messageId:
          type: string
          nullable: true
        sequenceId:
          type: integer
          format: int32
        messageHeading:
          type: string
          nullable: true
        eventType:
          type: string
          nullable: true
        publishDateTimeString:
          type: string
          nullable: true
        participantMarketParticipantId:
          type: string
          nullable: true
        assetId:
          type: string
          nullable: true
        assetEicCode:
          type: string
          nullable: true
        assetType:
          type: string
          nullable: true
        affectedUnit:
          type: string
          nullable: true
        affectedArea:
          type: string
          nullable: true
        assetFuelType:
          type: string
          nullable: true
        assetNormalCapacity:
          type: number
          format: double
          nullable: true
        availableCapacity:
          type: number
          format: double
          nullable: true
        unavailableCapacity:
          type: number
          format: double
          nullable: true
        eventStartString:
          type: string
          nullable: true
        eventEndString:
          type: string
          nullable: true
        cause:
          type: string
          nullable: true
        eventStatus:
          type: string
          nullable: true
        relatedInformation:
          type: string
          nullable: true
        activeFlag:
          type: string
          nullable: true
        messageType:
          type: string
          nullable: true
        unavailabilityType:
          type: string
          nullable: true
        acerCode:
          type: string
          nullable: true
        biddingZone:
          type: string
          nullable: true
        outageProfile:
          $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitOutageProfile'
        revisionNumber:
          type: integer
          format: int32
      additionalProperties: false
    Insights.Api.LegacyInteroperability.LegacyRemitOutageProfileSegment:
      type: object
      properties:
        segmentStartString:
          type: string
          nullable: true
        segmentEndString:
          type: string
          nullable: true
        segmentCapacity:
          type: integer
          format: int32
      additionalProperties: false
    Insights.Api.LegacyInteroperability.LegacyRemitListResponseBody:
      type: object
      properties:
        dataItem:
          type: string
          nullable: true
        legacyRemitResponseList:
          $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitResponseList'
      additionalProperties: false
    Insights.Api.LegacyInteroperability.LegacyRemitListItem:
      type: object
      properties:
        messageId:
          type: string
          nullable: true
        sequenceId:
          type: integer
          format: int32
        messageHeading:
          type: string
          nullable: true
        eventType:
          type: string
          nullable: true
        publishDateTimeString:
          type: string
          nullable: true
        participantMarketParticipantId:
          type: string
          nullable: true
        assetId:
          type: string
          nullable: true
        assetEicCode:
          type: string
          nullable: true
        assetType:
          type: string
          nullable: true
        affectedUnit:
          type: string
          nullable: true
        affectedArea:
          type: string
          nullable: true
        assetFuelType:
          type: string
          nullable: true
        assetNormalCapacity:
          type: number
          format: double
          nullable: true
        assetNormalCapacitySpecified:
          type: boolean
          readOnly: true
        availableCapacity:
          type: number
          format: double
          nullable: true
        availableCapacitySpecified:
          type: boolean
          readOnly: true
        eventStartString:
          type: string
          nullable: true
        eventEndString:
          type: string
          nullable: true
        durationUncertainty:
          type: string
          nullable: true
        cause:
          type: string
          nullable: true
        eventStatus:
          type: string
          nullable: true
        relatedInformation:
          type: string
          nullable: true
        activeFlag:
          type: string
          nullable: true
        revisionNumber:
          type: integer
          format: int32
        messageType:
          type: string
          nullable: true
        unavailabilityType:
          type: string
          nullable: true
        unavailableCapacity:
          type: number
          format: double
          nullable: true
        unavailableCapacitySpecified:
          type: boolean
          readOnly: true
      additionalProperties: false
    Insights.Api.LegacyInteroperability.LegacyRemitDetailMetadata:
      type: object
      properties:
        httpCode:
          type: integer
          format: int32
        errorType:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        queryString:
          type: string
          nullable: true
      additionalProperties: false
    Insights.Api.LegacyInteroperability.LegacyRemitDetailList:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitDetailItem'
      additionalProperties: false
    Insights.Api.LegacyInteroperability.LegacyRemitListMetadata:
      type: object
      properties:
        httpCode:
          type: integer
          format: int32
        errorType:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        cappingApplied:
          type: string
          nullable: true
        cappingLimit:
          type: integer
          format: int32
        queryString:
          type: string
          nullable: true
      additionalProperties: false
    Insights.Api.LegacyInteroperability.LegacyRemitDetailResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitDetailMetadata'
        body:
          $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitDetailBody'
      additionalProperties: false
    Insights.Api.LegacyInteroperability.LegacyRemitDetailBody:
      type: object
      properties:
        dataItem:
          type: string
          nullable: true
        list:
          $ref: '#/components/schemas/Insights.Api.LegacyInteroperability.LegacyRemitDetailList'
      additionalProperties: false
