openapi: 3.2.0
info:
  title: Insights.Api Demand API
  version: '1.0'
  description: GB electricity demand, including historic.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: Demand
  description: GB electricity demand, including historic.
paths:
  /demand/by-restoration-zone/restored/submissions:
    get:
      tags:
      - Demand
      summary: Restoration Zone Demand Restored Submissions (RZDR)
      description: 'This endpoint provides data about the end of system restoration events. It returns the restored demand value

        for each restoration zone at the last submission time of each event. The number of events to return is

        determined by the `count` parameter.


        The data can be filtered by submission date/time, region, and GSP Group ID (when received by NESO).


        All DateTimes should be expressed as defined within

        RFC 3339.


        Some examples of parameter combinations are shown below.


        Filtering latest 3 events:


        /demand/by-restoration-zone/restored/submissions?count=3


        Filtering latest 3 events before a given submission time:


        /demand/by-restoration-zone/restored/submissions?before=2025-10-01T00:00Z&count=3


        Filtering latest 10 events for a given region:


        /demand/by-restoration-zone/restored/submissions?region=North West&count=10'
      parameters:
      - name: count
        in: query
        description: The number of system restoration events to return.
        required: true
        schema:
          type: integer
          format: int32
          example: 3
          x-max-events-count: 10
        example: 3
      - name: before
        in: query
        description: 'If specified, filters events to those with a submission time before or at the specified date and time.

          If omitted, latest events are returned.'
        schema:
          type: string
          format: date-time
      - name: region
        in: query
        description: The region to filter by.
        schema:
          enum:
          - North Scotland
          - South Scotland
          - North West
          - North East
          - Midlands
          - South West
          - South East
          type: string
      - name: gspGroupId
        in: query
        description: The GSP Group ID to filter by.
        schema:
          type: string
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.RestorationZone.RestorationZoneDemandRestoredDatasetRow'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.RestorationZone.RestorationZoneDemandRestoredDatasetRow'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.RestorationZone.RestorationZoneDemandRestoredDatasetRow'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.RestorationZone.RestorationZoneDemandRestoredDatasetRow'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.RestorationZone.RestorationZoneDemandRestoredDatasetRow'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.RestorationZone.RestorationZoneDemandRestoredDatasetRow'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getDemandByRestorationZoneRestoredSubmissions
      x-operation-id-source: derived
  /demand/outturn:
    get:
      tags:
      - Demand
      summary: Initial National Demand outturn (INDO)
      description: 'This endpoint provides data for Initial National Demand Outturn, which measures the

        half-hour average MW demand metered by the Transmission Company based on its operational metering.

        The data is updated every 30 minutes and within 15 minutes of the end of the effective settlement period. The data is represented with:

        - INDO (initial National Demand outturn) which takes into account transmission losses but does not include station transformer load, pumped storage demand or interconnector demand.

        - ITSDO (initial Transmission System Demand outturn) which takes into account transmission losses, station transformer load, pumped storage demand and interconnector demand.


        This endpoint is useful for ad-hoc querying of the data.


        Settlement date parameters must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementDateFrom
        in: query
        description: The settlement date from for the filter. This must be in the format yyyy-MM-dd.
        schema:
          type: string
          format: date
          example: '2022-09-20'
        example: '2022-09-20'
      - name: settlementDateTo
        in: query
        description: The settlement date to for the filter. This must be in the format yyyy-MM-dd.
        schema:
          type: string
          format: date
          example: '2022-09-21'
        example: '2022-09-21'
      - name: settlementPeriod
        in: query
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturn'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturn'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturn'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturn'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturn'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturn'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getDemandOutturn
      x-operation-id-source: derived
  /demand/outturn/stream:
    get:
      tags:
      - Demand
      summary: Initial National Demand outturn (INDO) stream
      description: 'This endpoint provides data for initial National Demand outturn, which measures the

        half-hour average MW demand metered by the Transmission Company based on its operational metering.

        The data is updated every 30 minutes and within 15 minutes of the end of the effective settlement period. The data is represented with:

        - INDO (initial National Demand outturn) which takes into account transmission losses but does not include station transformer load, pumped storage demand or interconnector demand.

        - ITSDO (initial Transmission System Demand outturn) which takes into account transmission losses, station transformer load, pumped storage demand and interconnector demand.


        This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.


        Settlement date parameters must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementDateFrom
        in: query
        description: The settlement date from for the filter. This must be in the format yyyy-MM-dd.
        schema:
          type: string
          format: date
          example: '2022-09-20'
        example: '2022-09-20'
      - name: settlementDateTo
        in: query
        description: The settlement date to for the filter. This must be in the format yyyy-MM-dd.
        schema:
          type: string
          format: date
          example: '2022-09-21'
        example: '2022-09-21'
      - name: settlementPeriod
        in: query
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.DemandOutturn'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.DemandOutturn'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.DemandOutturn'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getDemandOutturnStream
      x-operation-id-source: derived
  /demand/outturn/daily:
    get:
      tags:
      - Demand
      summary: Initial National Demand outturn per day (INDOD)
      description: 'This endpoint provides initial National Demand outturn data per day. The total daily energy volume is the total

        demand volume for the previous day expressed on an initial National Demand outturn (INDO) basis, i.e. excluding

        station transformer, pumping and interconnector export demand. It is calculated from summing the half hourly

        INDO demands (divided by two to convert to MWh).


        If no date window is chosen, the search will default to results from the last 31 days.


        This API endpoint has a maximum range of 2 years (731 days).'
      parameters:
      - name: settlementDateFrom
        in: query
        schema:
          type: string
          format: date
          example: '2023-08-26'
        example: '2023-08-26'
      - name: settlementDateTo
        in: query
        schema:
          type: string
          format: date
          example: '2023-08-27'
        example: '2023-08-27'
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndodRow'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndodRow'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndodRow'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndodRow'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndodRow'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndodRow'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getDemandOutturnDaily
      x-operation-id-source: derived
  /demand/outturn/daily/stream:
    get:
      tags:
      - Demand
      summary: Initial National Demand outturn per day (INDOD) stream
      description: 'This endpoint provides initial National Demand outturn daily data. The total daily energy volume is the total

        demand volume for the previous day expressed on an initial National Demand outturn (INDO) basis, i.e. excluding

        station transformer, pumping and interconnector export demand. It is calculated from summing the half hourly

        INDO demands (divided by two to convert to MWh).


        If no date window is chosen, the search will default to results from the last 31 days.


        This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.'
      parameters:
      - name: settlementDateFrom
        in: query
        schema:
          type: string
          format: date
          example: '2023-08-26'
        example: '2023-08-26'
      - name: settlementDateTo
        in: query
        schema:
          type: string
          format: date
          example: '2023-08-27'
        example: '2023-08-27'
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.IndodRow'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.IndodRow'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.IndodRow'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getDemandOutturnDailyStream
      x-operation-id-source: derived
  /demand/outturn/summary:
    get:
      tags:
      - Demand
      summary: System demand summary (FUELINST)
      description: '⚠ This endpoint provides a down-sampled data summary intended for visualisation purposes.

        Use datasets endpoints for full dataset access.'
      parameters:
      - name: resolution
        in: query
        schema:
          enum:
          - minute
          - hourly
          - daily
          - weekly
          type: string
      - name: from
        in: query
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        schema:
          type: string
          format: date-time
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.RollingSystemDemand'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.RollingSystemDemand'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.RollingSystemDemand'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.RollingSystemDemand'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.RollingSystemDemand'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.RollingSystemDemand'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getDemandOutturnSummary
      x-operation-id-source: derived
  /demand/peak:
    get:
      tags:
      - Demand
      summary: Peak demand per day (ITSDO)
      description: 'This endpoint allows for retrieving peak ITSDO demand for each day from National Grid ESO.

        Results are filtered by a range of Date parameters.

        Results default to yesterday''s peak if no parameters are supplied.


        Date parameters must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: from
        in: query
        description: The start of the requested date range.
        schema:
          type: string
          format: date
          example: '2021-10-01'
        example: '2021-10-01'
      - name: to
        in: query
        description: The end of the requested date range.
        schema:
          type: string
          format: date
          example: '2021-10-30'
        example: '2021-10-30'
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturnPeak'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturnPeak'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturnPeak'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturnPeak'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturnPeak'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturnPeak'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getDemandPeak
      x-operation-id-source: derived
  /demand/peak/indicative:
    get:
      tags:
      - Demand
      summary: Indicative peak demand per day (S0142, ITSDO, FUELHH)
      description: 'Indicative demand peaks using operational metering data are daily maxima values determined from

        ITSDO and FUELHH data used to determine and visualise Triad.


        Indicative demand peaks using settlement metering data are daily maxima values determined from

        metered volume data from the S0142_bpi file. These peaks are not used for Triad visualisation as

        they are always calculated based on the latest run type. Triads for settlement data

        remain static after the National Grid report posted at the beginning of April after the Triad season has ended.


        If no filters are supplied, results default to the latest or current Triad season.

        To specify a custom filter, you can supplier EITHER a Triad season start year, OR a date range, but not both.

        If a Triad Season Start year is supplied, data for the Triad season beginning on 1 November

        of the specified year will be returned.

        If a date range is supplied, data will be returned for settlement dates within the date range inclusively.


        Date parameters must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: data
        in: query
        description: The type of data. Supports values of 'operational' or 'settlement'.
        required: true
        schema:
          enum:
          - operational
          - settlement
          type: string
          example: operational
        example: operational
      - name: triadSeasonStartYear
        in: query
        description: A year indicating the Triad season starting on 1 November of the given year, e.g. 2021.
        schema:
          type: integer
          format: int32
      - name: from
        in: query
        description: The start of the requested date range.
        schema:
          type: string
          format: date
          example: '2021-10-01'
        example: '2021-10-01'
      - name: to
        in: query
        description: The end of the requested date range.
        schema:
          type: string
          format: date
          example: '2021-10-30'
        example: '2021-10-30'
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getDemandPeakIndicative
      x-operation-id-source: derived
  /demand/peak/indicative/settlement/{triadSeason}:
    get:
      tags:
      - Demand
      summary: Settlement data demand peaks for a Triad season (S0142)
      description: 'Provides indicative demand peak data for a Triad season from S0142_bpi files that were calculated

        during the Triad season. For the data from the latest settlement runs for the Triad season use the

        `peak/indicative` endpoint.'
      parameters:
      - name: triadSeason
        in: path
        description: A year indicating the Triad season starting on 1 November of the given year
        required: true
        schema:
          type: integer
          format: int32
          example: 2021
        example: 2021
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
      operationId: getDemandPeakIndicativeSettlementByTriadSeason
      x-operation-id-source: derived
  /demand/peak/indicative/operational/{triadSeason}:
    get:
      tags:
      - Demand
      summary: Operational data demand peaks for a Triad season (ITSDO, FUELHH)
      description: 'Provides indicative demand peak data for a Triad season ITSDO and FUELHH files over a Triad season. For non-Triad

        season dates please use the `peak/indicative` endpoint.'
      parameters:
      - name: triadSeason
        in: path
        description: A year indicating the Triad season starting on 1 November of the given year
        required: true
        schema:
          type: integer
          format: int32
          example: 2021
        example: 2021
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
      operationId: getDemandPeakIndicativeOperationalByTriadSeason
      x-operation-id-source: derived
  /demand/peak/triad:
    get:
      tags:
      - Demand
      summary: Triad demand peaks (S0142, ITSDO, FUELHH)
      description: 'Operational Triad peaks are calculated from the indicative demand peaks data.


        Settlement Triad Peaks are calculated from the latest metered volume data available at the point one month following the Triad season''s end.

        For any Triad season still in progress, the latest run type data is used.


        All Triad peaks are at least 10 days clear of one another.'
      parameters:
      - name: data
        in: query
        description: The type of data. Supports values of 'operational' or 'settlement'.
        required: true
        schema:
          enum:
          - operational
          - settlement
          type: string
          example: operational
        example: operational
      - name: triadSeasonStartYear
        in: query
        description: A year indicating the Triad season starting on 1 November of the given year.
        schema:
          type: integer
          format: int32
          example: 2021
        example: 2021
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getDemandPeakTriad
      x-operation-id-source: derived
  /demand:
    get:
      tags:
      - Demand
      summary: This endpoint is obsolete, and this location may be removed with no further…
      description: This endpoint has been moved to demand/outturn.
      parameters:
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: OK
      deprecated: true
      operationId: getDemand
      x-operation-id-source: derived
  /demand/stream:
    get:
      tags:
      - Demand
      summary: This endpoint is obsolete, and this location may be removed with no further…
      description: This endpoint has been moved to demand/outturn/stream.
      parameters:
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: OK
      deprecated: true
      operationId: getDemandStream
      x-operation-id-source: derived
  /demand/rollingSystemDemand:
    get:
      tags:
      - Demand
      summary: This endpoint is obsolete, and this location may be removed with no further…
      description: This endpoint has been moved to generation/outturn.
      parameters:
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: OK
      deprecated: true
      operationId: getDemandRollingSystemDemand
      x-operation-id-source: derived
  /demand/summary:
    get:
      tags:
      - Demand
      summary: This endpoint is obsolete, and this location may be removed with no further…
      description: This endpoint has been moved to demand/outturn/summary.
      parameters:
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: OK
      deprecated: true
      operationId: getDemandSummary
      x-operation-id-source: derived
  /demand/total/actual:
    get:
      tags:
      - Demand
      summary: This endpoint is obsolete, and this location may be removed with no further…
      description: This endpoint has been moved to demand/actual/total.
      parameters:
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: OK
      deprecated: true
      operationId: getDemandTotalActual
      x-operation-id-source: derived
  /demand/actual/total:
    get:
      tags:
      - Demand
      summary: Actual total load (ATL/B0610)
      description: 'This endpoint provides actual total load data per bidding zone.

        It can be filtered by settlement period dates.


        This API endpoint has a maximum range of 7 days.'
      parameters:
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date-time
          example: '2023-07-18'
        example: '2023-07-18'
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date-time
          example: '2023-07-21'
        example: '2023-07-21'
      - name: settlementPeriodFrom
        in: query
        schema:
          type: integer
          format: int32
          example: 36
        example: 36
      - name: settlementPeriodTo
        in: query
        schema:
          type: integer
          format: int32
          example: 12
        example: 12
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualTotalLoadPerBiddingZone'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualTotalLoadPerBiddingZone'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualTotalLoadPerBiddingZone'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualTotalLoadPerBiddingZone'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualTotalLoadPerBiddingZone'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualTotalLoadPerBiddingZone'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getDemandActualTotal
      x-operation-id-source: derived
components:
  schemas:
    Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturn:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.DemandOutturn'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Metadata.ApiResponseSourceMetadata:
      type: object
      properties:
        datasets:
          type:
          - array
          - 'null'
          items:
            type: string
          example:
          - DATASET
      additionalProperties: false
    Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak:
      type: object
      properties:
        settlementDate:
          type: string
          format: date
          example: '2021-10-01'
        settlementPeriod:
          type: integer
          format: int32
          example: 3
        halfHourEndTime:
          type: string
          format: date-time
          example: '2021-10-01T01:00:00Z'
        demand:
          type: number
          format: double
          example: 36256
        settlementRunType:
          type:
          - string
          - 'null'
          example: II
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualTotalLoadPerBiddingZone
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Transparency.ActualTotalLoadPerBiddingZone'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.IndicativeDemandPeak'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.DemandOutturn.RollingSystemDemand:
      type: object
      properties:
        recordType:
          type:
          - string
          - 'null'
        startTime:
          type:
          - string
          - 'null'
          format: date-time
        demand:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.DemandOutturnPeak:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.DemandOutturnPeak'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.Transparency.ActualTotalLoadPerBiddingZone:
      type: object
      properties:
        publishTime:
          type: string
          format: date-time
          example: '2023-06-29 17:25:09Z'
        startTime:
          type: string
          format: date-time
          example: '2023-06-29 15:30:00Z'
        settlementDate:
          type: string
          format: date
          example: '2023-06-29'
        settlementPeriod:
          type: integer
          format: int32
          example: 40
        quantity:
          type: number
          format: double
          example: 1000
      additionalProperties: false
    Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.DemandOutturn.IndodRow:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.DemandOutturn.IndodRow'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.DemandOutturn.IndodRow:
      type: object
      properties:
        publishTime:
          type: string
          format: date-time
          example: '2023-08-26T23:15:00Z'
        settlementDate:
          type: string
          format: date
          example: '2023-08-26'
        demand:
          type:
          - integer
          - 'null'
          format: int64
          example: 494802
      additionalProperties: false
    Insights.Api.Models.Responses.DemandOutturn.DemandOutturnPeak:
      type: object
      properties:
        publishTime:
          type:
          - string
          - 'null'
          format: date-time
        startTime:
          type: string
          format: date-time
        settlementDate:
          type: string
          format: date
        settlementPeriod:
          type: integer
          format: int32
        initialTransmissionSystemDemandOutturn:
          type: integer
          format: int64
      additionalProperties: false
    Insights.Api.Models.Responses.DemandOutturn.DemandOutturn:
      type: object
      properties:
        publishTime:
          type:
          - string
          - 'null'
          format: date-time
        startTime:
          type: string
          format: date-time
        settlementDate:
          type: string
          format: date
        settlementPeriod:
          type: integer
          format: int32
        initialDemandOutturn:
          type:
          - integer
          - 'null'
          format: int64
        initialTransmissionSystemDemandOutturn:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.RestorationZone.RestorationZoneDemandRestoredDatasetRow
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.RestorationZone.RestorationZoneDemandRestoredDatasetRow'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.RestorationZone.RestorationZoneDemandRestoredDatasetRow:
      type: object
      properties:
        dataset:
          type:
          - string
          - 'null'
          example: RZDR
        submissionDateTime:
          type: string
          format: date-time
          example: '2025-01-01T07:01:07'
        publishTime:
          type: string
          format: date-time
          example: '2025-01-01T00:00:10'
        region:
          type:
          - string
          - 'null'
          example: North Scotland
        gspGroupId:
          type:
          - string
          - 'null'
          example: _A
        restoredDemand:
          type: integer
          format: int32
          example: 1234
      additionalProperties: false
