openapi: 3.0.4
info:
  title: Insights.Api Balancing Mechanism Dynamic BMRS Datasets API
  version: '1.0'
  description: Dynamic data.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: BMRS Datasets
  description: Raw datasets as received from the National Grid, with associated metadata. The output in JSON format matches IRIS, and can be used interchangeably with IRIS output.
paths:
  /datasets/NONBM:
    get:
      tags:
      - BMRS Datasets
      summary: Non-BM STOR (NONBM)
      description: "This endpoint provides data about the Short Term Operating Reserves (STOR) that have been made use of\nby NGESO. This is activity that is outside of the Balancing Mechanism and takes place to meet the need to\nincrease generation or decrease demand.\n            \nTo retrieve data from a particular time window, use the optional start and end time parameters.\nThese times should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\nIf no time window is chosen, the default output will be the latest published data."
      parameters:
      - name: from
        in: query
        description: The start of the data publish time window.
        schema:
          type: string
          format: date-time
          example: 2022-06-25T13:15Z
        example: 2022-06-25T13:15Z
      - name: to
        in: query
        description: The end of the data publish time window.
        schema:
          type: string
          format: date-time
          example: 2022-06-27T19:45Z
        example: 2022-06-27T19:45Z
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/NONBM/stream:
    get:
      tags:
      - BMRS Datasets
      summary: Non-BM STOR (NONBM) stream
      description: "This endpoint provides data about the Short Term Operating Reserves (STOR) that have been made use of\nby NGESO. This is activity that is outside of the Balancing Mechanism and takes place to meet the need to\nincrease generation or decrease demand.\n            \nTo retrieve data from a particular time window, use the optional start and end time parameters.\nThese times should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\nIf no time window is chosen, the default output will be the latest published data.\n            \nThis endpoint has an optimised JSON payload and is aimed at frequent requests for the Non-BM STOR data."
      parameters:
      - name: from
        in: query
        description: The start of the data publish time window.
        schema:
          type: string
          format: date-time
          example: 2022-06-25T13:15Z
        example: 2022-06-25T13:15Z
      - name: to
        in: query
        description: The end of the data publish time window.
        schema:
          type: string
          format: date-time
          example: 2022-06-27T19:45Z
        example: 2022-06-27T19:45Z
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/PN:
    get:
      tags:
      - BMRS Datasets
      summary: Physical Notifications (PN)
      description: "This endpoint provides Physical Notification data received from NGESO. It returns the data valid for a single settlement period.\nA Physical Notification is the best estimate of the level of generation or demand that a participant in the BM expects a BM Unit to export or import, respectively, in a Settlement Period.\n            \nPhysical Notifications are submitted as a series of point MW values.\n            \nThe settlement period to query must be specified as a date and settlement period. The date should be provided in the format yyyy-MM-dd."
      parameters:
      - name: settlementDate
        in: query
        description: The settlement date to query. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2022-07-01'
        example: '2022-07-01'
      - name: settlementPeriod
        in: query
        description: The settlement period to query. This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 5
        example: 5
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_ABRBO-1
        example:
        - T_ABRBO-1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/PN/stream:
    get:
      tags:
      - BMRS Datasets
      summary: Physical Notifications (PN) stream
      description: "This endpoint provides Physical Notification data received from NGESO.\nA Physical Notification is the best estimate of the level of generation or demand that a participant in the BM expects a BM Unit to export or import, respectively, in a Settlement Period.\n            \nPhysical Notifications are submitted as a series of point MW values.\n            \nThe settlement period to query can be specified as a date and settlement period, or as a datetime\nwhich will resolve to the settlement period that time falls within.\nIf a settlement period is provided, it will take precedence over the time portion of the datetime.\n\nSome examples of date parameter combinations are shown below.\n            \nFiltering from settlement datetime to settlement datetime:\n            \n     /datasets/PN/stream?from=2022-07-01T00:00Z&to=2022-07-03T06:00Z\n            \nFiltering from settlement datetime to settlement date and period:\n            \n     /datasets/PN/stream?from=2022-07-01T00:00Z&to=2022-07-03&settlementPeriodTo=15\n            \nFiltering from settlement date and period to settlement datetime:\n            \n     /datasets/PN/stream?from=2022-07-01&settlementPeriodFrom=3&to=2022-07-03T06:00Z\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/PN/stream?from=2022-07-01&settlementPeriodFrom=3&to=2022-07-03&settlementPeriodTo=15\n\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for PN data."
      parameters:
      - name: from
        in: query
        description: The settlement date to query from.
        required: true
        schema:
          type: string
          format: date-time
          example: '2022-07-01'
        example: '2022-07-01'
      - name: to
        in: query
        description: The settlement date to query up to.
        required: true
        schema:
          type: string
          format: date-time
          example: '2022-07-03'
        example: '2022-07-03'
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
          example: 3
        example: 3
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
          example: 15
        example: 15
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_ABRBO-1
        example:
        - T_ABRBO-1
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/QPN:
    get:
      tags:
      - BMRS Datasets
      summary: Quiescent Physical Notifications (QPN)
      description: "This endpoint provides Quiescent Physical Notification data received from NGESO. It returns the data valid for a single settlement period.\nQuiescent Physical Notifications describe the MW levels to be deducted from the Physical Notification of a BM Unit to determine a resultant operating level.\n            \nThe settlement period to query must be specified as a date and settlement period. The date should be provided in the format yyyy-MM-dd."
      parameters:
      - name: settlementDate
        in: query
        description: The settlement date to query. This must be in the format yyyy-MM-dd.
        required: true
        schema:
          type: string
          format: date
          example: '2022-07-01'
        example: '2022-07-01'
      - name: settlementPeriod
        in: query
        description: The settlement period to query. This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 5
        example: 5
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_ABRBO-1
        example:
        - T_ABRBO-1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/QPN/stream:
    get:
      tags:
      - BMRS Datasets
      summary: Quiescent Physical Notifications (QPN) stream
      description: "This endpoint provides Quiescent Physical Notification data received from NGESO.\nQuiescent Physical Notifications describe the MW levels to be deducted from the Physical Notification of a BM Unit to determine a resultant operating level.\n            \nThe settlement period to query can be specified as a date and settlement period, or as a datetime\nwhich will resolve to the settlement period that time falls within.\nIf a settlement period is provided, it will take precedence over the time portion of the datetime.\n\nSome examples of date parameter combinations are shown below.\n            \nFiltering from settlement datetime to settlement datetime:\n            \n     /datasets/QPN/stream?from=2022-07-01T00:00Z&to=2022-07-03T06:00Z\n            \nFiltering from settlement datetime to settlement date and period:\n            \n     /datasets/QPN/stream?from=2022-07-01T00:00Z&to=2022-07-03&settlementPeriodTo=15\n            \nFiltering from settlement date and period to settlement datetime:\n            \n     /datasets/QPN/stream?from=2022-07-01&settlementPeriodFrom=3&to=2022-07-03T06:00Z\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/QPN/stream?from=2022-07-01&settlementPeriodFrom=3&to=2022-07-03&settlementPeriodTo=15\n\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for QPN data."
      parameters:
      - name: from
        in: query
        description: The settlement date to query from.
        required: true
        schema:
          type: string
          format: date-time
          example: '2022-07-01'
        example: '2022-07-01'
      - name: to
        in: query
        description: The settlement date to query up to.
        required: true
        schema:
          type: string
          format: date-time
          example: '2022-07-03'
        example: '2022-07-03'
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
          example: 3
        example: 3
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
          example: 15
        example: 15
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_ABRBO-1
        example:
        - T_ABRBO-1
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/MELS:
    get:
      tags:
      - BMRS Datasets
      summary: Maximum Export Limit (MELS)
      description: "This endpoint provides Maximum Export Limit data received from NGESO.\n\nThe Maximum Export Limit is the maximum power export level of a particular BM Unit at a particular time.\nThe data is updated every 30 minutes and within 15 minutes of the end of the effective Settlement Period.\nMELs are submitted as a series of MW values and associated times in UTC.\n\nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/mels?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/mels?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/mels?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/mels?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-12T00:00Z
        example: 2022-10-12T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-12T01:00Z
        example: 2022-10-12T01:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_DRAXX-1
        example:
        - T_DRAXX-1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/MELS/stream:
    get:
      tags:
      - BMRS Datasets
      summary: Maximum Export Limit (MELS) stream
      description: "This endpoint provides Maximum Export Limit data received from NGESO.\n\nThe Maximum Export Limit is the maximum power export level of a particular BM Unit at a particular time.\nThe data is updated every 30 minutes and within 15 minutes of the end of the effective Settlement Period.\nMELs are submitted as a series of MW values and associated times in UTC.\n\nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/mels/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/mels/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/mels/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/mels/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for MELS data."
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-12T00:00Z
        example: 2022-10-12T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-12T01:00Z
        example: 2022-10-12T01:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_DRAXX-1
        example:
        - T_DRAXX-1
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/MILS:
    get:
      tags:
      - BMRS Datasets
      summary: Maximum Import Limit (MILS)
      description: "This endpoint provides Maximum Import Limit data received from NGESO.\n\nThe maximum power import level of a particular BM Unit at a particular time.\nThe data is updated every 30 minutes and within 15 minutes of the end of the effective Settlement Period.\nMILs are submitted as a series of MW values and associated times in UTC.\n\nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/mils?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/mils?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/mils?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/mils?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-12T00:00Z
        example: 2022-10-12T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-12T01:00Z
        example: 2022-10-12T01:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_DRAXX-1
        example:
        - T_DRAXX-1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/MILS/stream:
    get:
      tags:
      - BMRS Datasets
      summary: Maximum Import Limit (MILS) stream
      description: "This endpoint provides Maximum Import Limit data received from NGESO.\n\nThe maximum power import level of a particular BM Unit at a particular time.\nThe data is updated every 30 minutes and within 15 minutes of the end of the effective Settlement Period.\nMILs are submitted as a series of MW values and associated times in UTC.\n\nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/mils/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/mils/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/mils/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/mils/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for MILS data."
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-12T00:00Z
        example: 2022-10-12T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-12T01:00Z
        example: 2022-10-12T01:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_DRAXX-1
        example:
        - T_DRAXX-1
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.DeliveryLimitMaxData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/QAS:
    get:
      tags:
      - BMRS Datasets
      summary: Balancing Services Volume (QAS)
      description: "This endpoint provides Balancing Services Volume data received from NGESO.\n            \nBalancing Services Volume is a volume which is received from the System Operator, which represents the volume\nof energy (MWh) associated with the provision of Applicable Balancing Services for each relevant BM Unit and\nSettlement Period.\n\nQAS can be positive or negative and is normally only provided where there is a non-zero volume.\n            \nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/qas?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/qas?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/qas?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/qas?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-08-12T00:00Z
        example: 2022-08-12T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-08-13T00:00Z
        example: 2022-08-13T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_CNQPS-1
        example:
        - T_CNQPS-1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BalancingServicesVolumeData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BalancingServicesVolumeData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BalancingServicesVolumeData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BalancingServicesVolumeData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BalancingServicesVolumeData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BalancingServicesVolumeData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/QAS/stream:
    get:
      tags:
      - BMRS Datasets
      summary: Balancing Services Volume (QAS) stream
      description: "This endpoint provides Balancing Services Volume data received from NGESO.\n            \nBalancing Services Volume is a volume which is received from the System Operator, which represents the volume\nof energy (MWh) associated with the provision of Applicable Balancing Services for each relevant BM Unit and\nSettlement Period.\n\nQAS can be positive or negative and is normally only provided where there is a non-zero volume.\n            \nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/qas/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/qas/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/qas/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/qas/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1\n\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for QAS data."
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-08-12T00:00Z
        example: 2022-08-12T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-08-13T00:00Z
        example: 2022-08-13T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_CNQPS-1
        example:
        - T_CNQPS-1
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.BalancingServicesVolumeData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.BalancingServicesVolumeData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.BalancingServicesVolumeData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/NETBSAD:
    get:
      tags:
      - BMRS Datasets
      summary: Net Balancing Services Adjustment Data (NETBSAD)
      description: "This endpoint provides Net Balancing Services Adjustment data received from NGESO.\n            \nNet Balancing Services Adjustment data covers the buy/sell price, cost and volume adjustments for each\nsettlement period. \n            \nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-10T00:00Z
        example: 2022-10-10T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-17T00:00Z
        example: 2022-10-17T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.NetBalancingServicesAdjustmentData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.NetBalancingServicesAdjustmentData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.NetBalancingServicesAdjustmentData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.NetBalancingServicesAdjustmentData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.NetBalancingServicesAdjustmentData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.NetBalancingServicesAdjustmentData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/NETBSAD/stream:
    get:
      tags:
      - BMRS Datasets
      summary: Net Balancing Services Adjustment Data (NETBSAD)
      description: "This endpoint provides Net Balancing Services Adjustment data received from NGESO.\n            \nNet Balancing Services Adjustment data covers the buy/sell price, cost and volume adjustments for each\nsettlement period. \n            \nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/netbsad/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/netbsad/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/netbsad/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/netbsad/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1\n\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for NETBSAD data."
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-10T00:00Z
        example: 2022-10-10T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-17T00:00Z
        example: 2022-10-17T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.NetBalancingServicesAdjustmentData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.NetBalancingServicesAdjustmentData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.NetBalancingServicesAdjustmentData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/DISBSAD:
    get:
      tags:
      - BMRS Datasets
      summary: Disaggregated Balancing Services Adjustment Data (DISBSAD)
      description: "This endpoint provides Disaggregated Balancing Services Adjustment data received from NGESO.\n            \nDisaggregated Balancing Services Adjustment data covers a set of adjustment actions, cost and volume values\nfor each Settlement Period. Adjustment costs are shown in £. Adjustment volumes are shown in MWh.\n            \nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/disbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/disbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/disbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/disbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-10T00:00Z
        example: 2022-10-10T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-11T00:00Z
        example: 2022-10-11T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.DisaggregatedBalancingServicesAdjustmentData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.DisaggregatedBalancingServicesAdjustmentData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.DisaggregatedBalancingServicesAdjustmentData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.DisaggregatedBalancingServicesAdjustmentData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.DisaggregatedBalancingServicesAdjustmentData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.DisaggregatedBalancingServicesAdjustmentData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/DISBSAD/stream:
    get:
      tags:
      - BMRS Datasets
      summary: Disaggregated Balancing Services Adjustment Data (DISBSAD) stream
      description: "This endpoint provides Disaggregated Balancing Services Adjustment data received from NGESO.\n            \nDisaggregated Balancing Services Adjustment data covers a set of adjustment actions, cost and volume values\nfor each Settlement Period. Adjustment costs are shown in £. Adjustment volumes are shown in MWh.\n            \nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/disbsad/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/disbsad/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/disbsad/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/disbsad/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1\n\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for DISBSAD data."
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-10T00:00Z
        example: 2022-10-10T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-11T00:00Z
        example: 2022-10-11T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.DisaggregatedBalancingServicesAdjustmentData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.DisaggregatedBalancingServicesAdjustmentData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.DisaggregatedBalancingServicesAdjustmentData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/BOD:
    get:
      tags:
      - BMRS Datasets
      summary: Bid Offer Data (BOD)
      description: "This endpoint provides bid-offer data.\n            \nBy default, the from and to parameters filter the data inclusively and this endpoint will return any data where\nTimeFrom is within the requested time range. If the settlementPeriodFrom or settlementPeriodTo parameters are\nprovided, it will instead filter to return any data where TimeFrom is within the specified range of settlement\nperiods. It is possible to search using a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored.\nFor example, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from a datetime to a datetime\n            \n    /datasets/bod?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from a datetime to a settlement date and period:\n            \n    /datasets/bod?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from a settlement date and period to a datetime:\n            \n    /datasets/bod?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from a settlement date and period to a settlement date and period:\n            \n    /datasets/bod?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-22T00:00Z
        example: 2022-09-22T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-22T01:00Z
        example: 2022-09-22T01:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - 2__HFLEX001
        example:
        - 2__HFLEX001
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferDatasetResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferDatasetResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferDatasetResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferDatasetResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferDatasetResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferDatasetResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/BOD/stream:
    get:
      tags:
      - BMRS Datasets
      summary: Bid-Offer Data (BOD) stream
      description: "This endpoint provides bid-offer data.\n            \nBy default, the from and to parameters filter the data inclusively and this endpoint will return any data where\nTimeFrom is within the requested time range. If the settlementPeriodFrom or settlementPeriodTo parameters are\nprovided, it will instead filter to return any data where TimeFrom is within the specified range of settlement\nperiods. It is possible to search using a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored.\nFor example, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from datetime to datetime\n            \n    /datasets/bod/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from datetime to settlement date and period:\n            \n    /datasets/bod/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to datetime:\n            \n    /datasets/bod/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/bod/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-22T00:00Z
        example: 2022-09-22T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-22T01:00Z
        example: 2022-09-22T01:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - 2__HFLEX001
        example:
        - 2__HFLEX001
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferDatasetResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferDatasetResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferDatasetResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/BOALF:
    get:
      tags:
      - BMRS Datasets
      summary: Bid Offer Acceptance Level Flagged (BOALF)
      description: "This endpoint provides bid offer acceptance data.\n            \nBy default, the from and to parameters filter the data inclusively and this endpoint will return any data where\nTimeFrom is within the requested time range. If the settlementPeriodFrom or settlementPeriodTo parameters are\nprovided, it will instead filter to return any data where TimeFrom is within the specified range of settlement\nperiods. It is possible to search using a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored.\nFor example, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from datetime to datetime\n            \n    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from datetime to settlement date and period:\n            \n    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to datetime:\n            \n    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-22T00:00Z
        example: 2022-10-22T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-23T00:00Z
        example: 2022-10-23T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_WBURB-3
        example:
        - T_WBURB-3
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferAcceptanceLevelDatasetResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferAcceptanceLevelDatasetResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferAcceptanceLevelDatasetResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferAcceptanceLevelDatasetResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferAcceptanceLevelDatasetResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferAcceptanceLevelDatasetResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/BOALF/stream:
    get:
      tags:
      - BMRS Datasets
      summary: Bid Offer Acceptance Level Flagged (BOALF) stream
      description: "This endpoint provides bid offer acceptance data.\n            \nBy default, the from and to parameters filter the data inclusively and this endpoint will return any data where\nTimeFrom is within the requested time range. If the settlementPeriodFrom or settlementPeriodTo parameters are\nprovided, it will instead filter to return any data where TimeFrom is within the specified range of settlement\nperiods. It is possible to search using a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored.\nFor example, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from datetime to datetime\n            \n    /datasets/boalf/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from datetime to settlement date and period:\n            \n    /datasets/boalf/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to datetime:\n            \n    /datasets/boalf/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/boalf/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-22T00:00Z
        example: 2022-10-22T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-10-23T00:00Z
        example: 2022-10-23T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_WBURB-3
        example:
        - T_WBURB-3
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferAcceptanceLevelDatasetResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferAcceptanceLevelDatasetResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.BidOfferAcceptanceLevelDatasetResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/MID:
    get:
      tags:
      - BMRS Datasets
      summary: Market Index Data (MID)
      description: "This endpoint provides Market Index Data received from NGESO.\n            \nMarket Index Data is a key component in the calculation of System Buy Price and System Sell Price for each\nSettlement Period. This data is received from each of the appointed Market Index Data Providers (MIDPs) and\nreflects the price of wholesale electricity in Great Britain in the short term markets. The Market Index Data\nwhich is received from each MIDP for each Settlement Period consists of a Market Index Volume and\nMarket Index Price, representing the volume and price of trading for the relevant period in the market operated\nby the MIDP. The Market Price (the volume weighed average Market Index Price) is used to derive\nthe Reverse Price (SBP or SSP).\"\n            \nThe two data providers available to query are N2EX (\"N2EXMIDP\") and APX (\"APXMIDP\").\n\nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/mid?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/mid?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/mid?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/mid?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-08-12T00:00Z
        example: 2022-08-12T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-08-13T00:00Z
        example: 2022-08-13T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: dataProviders
        in: query
        description: The data providers to query. If no data provider is selected both will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - N2EXMIDP
        example:
        - N2EXMIDP
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.MarketIndexDatasetResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.MarketIndexDatasetResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.MarketIndexDatasetResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.MarketIndexDatasetResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.MarketIndexDatasetResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.DatasetRows.MarketIndexDatasetResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/MID/stream:
    get:
      tags:
      - BMRS Datasets
      summary: Market Index Data (MID) stream
      description: "This endpoint provides Market Index Data received from NGESO.\n            \nMarket Index Data is a key component in the calculation of System Buy Price and System Sell Price for each\nSettlement Period. This data is received from each of the appointed Market Index Data Providers (MIDPs) and\nreflects the price of wholesale electricity in Great Britain in the short term markets. The Market Index Data\nwhich is received from each MIDP for each Settlement Period consists of a Market Index Volume and\nMarket Index Price, representing the volume and price of trading for the relevant period in the market operated\nby the MIDP. The Market Price (the volume weighed average Market Index Price) is used to derive\nthe Reverse Price (SBP or SSP).\"\n            \nThe two data providers available to query are N2EX (\"N2EXMIDP\") and APX (\"APXMIDP\").\n\nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering from start time to start time:\n            \n    /datasets/mid/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from start time to settlement date and period:\n            \n    /datasets/mid/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to start time:\n            \n    /datasets/mid/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /datasets/mid/stream?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1\n\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for MID data."
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-08-12T00:00Z
        example: 2022-08-12T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-08-13T00:00Z
        example: 2022-08-13T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: dataProviders
        in: query
        description: The data providers to query. If no data provider is selected both will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - N2EXMIDP
        example:
        - N2EXMIDP
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.MarketIndexDatasetResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.MarketIndexDatasetResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DatasetRows.MarketIndexDatasetResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /datasets/FUELHH:
    get:
      tags:
      - BMRS Datasets
      summary: Half-hourly generation outturn by fuel type (FUELHH)
      description: "This endpoint provides the half-hourly generation outturn (Generation By Fuel type)\nto give our users an indication of the generation outturn for Great Britain.\nThe data is aggregated by Fuel Type category and updated at 30-minute intervals with\naverage MW values over 30 minutes for each category.\n            \nThis endpoint includes additional settlement parameters such as Settlement Date and Settlement Period.\nThe Settlement Date fields cannot be set when a Publish Date field is set.\n            \nSettlement date parameters must be provided in the exact format yyyy-MM-dd."
      parameters:
      - name: publishDateTimeFrom
        in: query
        schema:
          type: string
          format: date-time
          example: '2022-06-25T00:00:00Z'
        example: '2022-06-25T00:00:00Z'
      - name: publishDateTimeTo
        in: query
        schema:
          type: string
          format: date-time
          example: '2022-06-26T00:00:00Z'
        example: '2022-06-26T00:00:00Z'
      - name: settlementDateFrom
        in: query
        schema:
          type: string
          format: date
          example: '2022-09-20'
        example: '2022-09-20'
      - name: settlementDateTo
        in: query
        schema:
          type: string
          format: date
          example: '2022-09-21'
        example: '2022-09-21'
      - name: settlementPeriod
        in: query
        description: List of Settlement Periods
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
          example:
          - 3
          - 4
        example:
        - 3
        - 4
      - name: fuelType
        in: query
        description: Fuel Type e.g. NUCLEAR
        schema:
          type: array
          items:
            type: string
          example:
          - NUCLEAR
        example:
        - NUCLEAR
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData'
            text/csv:
              schema:
[...]
