openapi: 3.2.0
info:
  title: Insights.Api Non-BM Volumes API
  version: '1.0'
  description: Balancing services volume data, filtered by BM Unit and time range.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: Non-BM Volumes
  description: Balancing services volume data, filtered by BM Unit and time range.
paths:
  /balancing/nonbm/volumes:
    get:
      tags:
      - Non-BM Volumes
      summary: Balancing services volume (QAS)
      description: 'This endpoint provides balancing services volume data received from NGESO, with an added computed ''Time'' field.

        (The time field is calculated from the settlement date & period and represents the earliest possible time for

        for which the datapoint applies)


        Balancing services volume is a volume which is received from the System Operator, which represents the volume

        of energy (MWh) associated with the provision of Applicable Balancing Services for each relevant BM Unit and

        Settlement Period.


        QAS can be positive or negative and is normally only provided where there is a non-zero volume.


        By default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or

        settlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement

        date, allowing for searching by a combination of time and/or settlement date & settlement period.

        Note: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For

        example, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.


        All Dates and DateTimes should be expressed as defined within

        RFC 3339.


        Some examples of date parameter combinations are shown below.


        Filtering from start time to start time:


        /balancing/nonbm/volumes?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z


        Filtering from start time to settlement date and period:


        /balancing/nonbm/volumes?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1


        Filtering from settlement date and period to start time:


        /balancing/nonbm/volumes?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1


        Filtering from settlement date and period to settlement date and period:


        /balancing/nonbm/volumes?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1'
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-08-12T00:00Z
        example: 2022-08-12T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-08-13T00:00Z
        example: 2022-08-13T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: bmUnit
        in: query
        description: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        schema:
          type: array
          items:
            type: string
          example:
          - T_CNQPS-1
        example:
        - T_CNQPS-1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BalancingServicesVolume'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BalancingServicesVolume'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BalancingServicesVolume'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BalancingServicesVolume'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BalancingServicesVolume'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BalancingServicesVolume'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingNonbmVolumes
      x-operation-id-source: derived
components:
  schemas:
    Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BalancingServicesVolume:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.BalancingServicesVolume'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Metadata.ApiResponseSourceMetadata:
      type: object
      properties:
        datasets:
          type:
          - array
          - 'null'
          items:
            type: string
          example:
          - DATASET
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.BalancingServicesVolume:
      type: object
      properties:
        settlementDate:
          type: string
          format: date
          example: '2022-07-25'
        settlementPeriod:
          type: integer
          format: int32
          example: 3
        bmUnitApplicableBalancingServicesVolume:
          type: number
          format: double
          example: 123.45
        nationalGridBmUnit:
          type:
          - string
          - 'null'
          example: ABRBO-1
        bmUnit:
          type:
          - string
          - 'null'
          example: T_ABRBO-1
        time:
          type: string
          format: date-time
          example: '2022-07-25T09:34:00Z'
      additionalProperties: false
