openapi: 3.2.0
info:
  title: Insights.Api Non-BM STOR API
  version: '1.0'
  description: Short Term Operating Reserves (STOR) data, provided as a time series or filtered to events.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: Non-BM STOR
  description: Short Term Operating Reserves (STOR) data, provided as a time series or filtered to events.
paths:
  /balancing/nonbm/stor:
    get:
      tags:
      - Non-BM STOR
      summary: Non-BM STOR time series (NONBM)
      description: 'This endpoint provides data about the Short Term Operating Reserves (STOR) that have been made use of

        by NGESO. This is activity that is outside of the Balancing Mechanism and takes place to meet the need to

        increase generation or decrease demand.


        By default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or

        settlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement

        date, allowing for searching by a combination of time and/or settlement date & settlement period.

        Note: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For

        example, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.


        All Dates and DateTimes should be expressed as defined within

        RFC 3339.


        Some examples of date parameter combinations are shown below.


        Filtering from start time to start time:


        /balancing/nonbm/stor?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z


        Filtering from start time to settlement date and period:


        /balancing/nonbm/stor?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1


        Filtering from settlement date and period to start time:


        /balancing/nonbm/stor?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1


        Filtering from settlement date and period to settlement date and period:


        /balancing/nonbm/stor?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1'
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-06-01T00:00Z
          x-max-day-range-including-zeroes: 31
          x-max-day-range-excluding-zeroes: 3653
        example: 2022-06-01T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-07-01T00:00Z
        example: 2022-07-01T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: includeZero
        in: query
        description: Include data points with a generation of zero.
        schema:
          type: boolean
          example: false
        example: false
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingNonbmStor
      x-operation-id-source: derived
  /balancing/nonbm/stor/events:
    get:
      tags:
      - Non-BM STOR
      summary: Non-BM STOR events (NONBM)
      description: 'This endpoint provides data about the start of NGESO Short Term Operating Reserves (STOR) events. This is

        activity that is outside of the Balancing Mechanism and takes place to meet the need to

        increase generation or decrease demand. Each result has a non-zero generation value which was preceded by a zero

        generation value.


        By default, the before parameter filters the data by start time. If the settlementPeriodBefore parameter is

        provided, the before parameter instead filters on settlement date, allowing for searching by start time or

        settlement date & settlement period.

        Note: When filtering via settlement date, before is treated as a Date only, with the time being ignored. For

        example, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.


        All Dates and DateTimes should be expressed as defined within

        RFC 3339.


        Some examples of date parameter combinations are shown below.


        Filtering latest 3 events:


        /balancing/nonbm/stor/events?count=3


        Filtering latest 3 events before start time:


        /balancing/nonbm/stor/events?before=2022-08-01T00:00Z&count=3


        Filtering latest 3 events before settlement date and settlement period:


        /balancing/nonbm/stor/events?before=2022-08-01T00:00Z&settlementPeriodBefore=48&count=3'
      parameters:
      - name: count
        in: query
        description: The number of events to return.
        required: true
        schema:
          type: integer
          format: int32
          example: 3
          x-max-event-count: 100
        example: 3
      - name: before
        in: query
        description: 'If specified, filters events to those with a start time before or at the date, or a settlement date before the date if

          settlementPeriodBefore is also specified.

          If omitted, latest events are returned.'
        schema:
          type: string
          format: date-time
      - name: settlementPeriodBefore
        in: query
        description: 'Filters events to those with a settlement period before or at the value.

          Before parameter must be specified if this is specified.'
        schema:
          type: integer
          format: int32
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingNonbmStorEvents
      x-operation-id-source: derived
components:
  schemas:
    Insights.Api.Models.Metadata.ApiResponseSourceMetadata:
      type: object
      properties:
        datasets:
          type:
          - array
          - 'null'
          items:
            type: string
          example:
          - DATASET
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.NonBmStorResponse:
      type: object
      properties:
        publishTime:
          type: string
          format: date-time
          example: '2022-06-25T13:34:00Z'
        startTime:
          type: string
          format: date-time
          example: '2022-06-25T13:00:00Z'
        settlementDate:
          type: string
          format: date
          example: '2022-06-25'
        settlementPeriod:
          type: integer
          format: int32
          example: 29
        generation:
          type: integer
          format: int64
          example: 0
      additionalProperties: false
    Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NonBmStorResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.NonBmStorResponse'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
