openapi: 3.2.0
info:
  title: Insights.Api Balancing Mechanism Physical API
  version: '1.0'
  description: Physical data consists of PN, QPN, MILS, & MELS.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: Balancing Mechanism Physical
  description: Physical data consists of PN, QPN, MILS, & MELS.
paths:
  /balancing/physical:
    get:
      tags:
      - Balancing Mechanism Physical
      summary: Physical data per BMU (PN, QPN, MILS, MELS)
      description: 'This endpoint provides the physical data for a requested BMU.

        It returns the data valid over a given time range.


        By default, all of the relevant datasets are returned: PN, QPN, MILS, & MELS.

        The results from each dataset are transformed to a common response model, with fields not present in all 4 datasets dropped.


        By default, the from and to parameters filter the data by start time inclusively. If the settlementPeriodFrom or

        settlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement

        date, allowing for searching by a combination of start time and/or settlement date & settlement period.

        Note: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For

        example, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.


        All Dates and DateTimes should be expressed as defined within

        RFC 3339.


        Some examples of date parameter combinations are shown below.


        Filtering from start time to start time:


        /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z


        Filtering from start time to settlement date and period:


        /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1


        Filtering from settlement date and period to start time:


        /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1


        Filtering from settlement date and period to settlement date and period:


        /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1'
      parameters:
      - name: bmUnit
        in: query
        description: The BM Unit to query.
        required: true
        schema:
          type: string
          example: 2__HFLEX001
        example: 2__HFLEX001
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-22T00:00Z
        example: 2022-09-22T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-23T00:00Z
        example: 2022-09-23T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: dataset
        in: query
        description: Datasets to filter. If empty, all datasets will be returned.
        schema:
          type: array
          items:
            type: string
          example:
          - PN
          - MILS
        example:
        - PN
        - MILS
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingPhysical
      x-operation-id-source: derived
  /balancing/physical/all:
    get:
      tags:
      - Balancing Mechanism Physical
      summary: Market-wide physical data (PN, QPN, MILS, MELS)
      description: 'This endpoint provides the physical data for multiple requested BMUs or all BMUs.

        It returns the data valid for a single settlement period.


        Only one dataset can be queried at a time: PN, QPN, MILS, or MELS.

        The results from each dataset are transformed to a common response model, with fields not present in all 4 datasets dropped.


        The settlement period to query must be specified as a date and settlement period. The date must be given in the format yyyy-MM-dd.'
      parameters:
      - name: dataset
        in: query
        description: Dataset to query.
        required: true
        schema:
          enum:
          - PN
          - QPN
          - MILS
          - MELS
          type: string
          example: PN
        example: PN
      - name: settlementDate
        in: query
        description: The settlement date for the filter.
        required: true
        schema:
          type: string
          format: date
          example: '2023-01-18'
        example: '2023-01-18'
      - name: settlementPeriod
        in: query
        description: The settlement period for the filter. This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 3
        example: 3
      - name: bmUnit
        in: query
        description: The BM Units to query. Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.
        schema:
          type: array
          items:
            type: string
          example:
          - 2__HFLEX001
          - HUMR-1
        example:
        - 2__HFLEX001
        - HUMR-1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingPhysicalAll
      x-operation-id-source: derived
components:
  schemas:
    Insights.Api.Models.Metadata.ApiResponseSourceMetadata:
      type: object
      properties:
        datasets:
          type:
          - array
          - 'null'
          items:
            type: string
          example:
          - DATASET
      additionalProperties: false
    Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.Physical.PhysicalData:
      type: object
      properties:
        dataset:
          type:
          - string
          - 'null'
          example: PN
        settlementDate:
          type: string
          format: date
          example: '2022-07-01'
        settlementPeriod:
          type: integer
          format: int32
          example: 3
        timeFrom:
          type: string
          format: date-time
          example: '2022-07-01T13:34:00Z'
        timeTo:
          type: string
          format: date-time
          example: '2022-07-01T13:34:00Z'
        levelFrom:
          type: integer
          format: int32
          example: 5
        levelTo:
          type: integer
          format: int32
          example: 46
        nationalGridBmUnit:
          type:
          - string
          - 'null'
          example: ABRBO-1
        bmUnit:
          type:
          - string
          - 'null'
          example: T_ABRBO-1
      additionalProperties: false
