openapi: 3.0.4
info:
  title: Insights.Api Balancing Mechanism Dynamic Bid-Offer API
  version: '1.0'
  description: Dynamic data.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: Bid-Offer
  description: Bid-offer data.
paths:
  /balancing/bid-offer:
    get:
      tags:
      - Bid-Offer
      summary: Bid-offer data per BMU (BOD)
      description: "This endpoint provides the bid-offer data for a requested BMU. It returns the data valid over a given time\nrange, excluding any results where LevelFrom and LevelTo are both zero.\n            \nBy default, the from and to parameters filter the data inclusively and this endpoint will return any data that\noverlaps even at a single instant. If the settlementPeriodFrom or settlementPeriodTo parameters are provided, it\nwill instead filter to return any data that overlaps with the specified range of settlement periods. It is\npossible to search using a combination of time and/or settlement date & settlement period. Note: When\nfiltering via settlement date, from/to are treated as Dates only, with the time being ignored. For example,\n2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\n            \nAll Dates and DateTimes should be expressed as defined within\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\n            \nSome examples of date parameter combinations are shown below.\n            \nFiltering by timeFrom and timeTo:\n            \n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\n            \nFiltering from timeFrom to settlement date and period:\n            \n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\n            \nFiltering from settlement date and period to TimeTo:\n            \n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\n            \nFiltering from settlement date and period to settlement date and period:\n            \n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - name: bmUnit
        in: query
        description: The BM Unit to query.
        required: true
        schema:
          type: string
          example: 2__HFLEX001
        example: 2__HFLEX001
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-22T00:00Z
        example: 2022-09-22T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-23T00:00Z
        example: 2022-09-23T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
  /balancing/bid-offer/all:
    get:
      tags:
      - Bid-Offer
      summary: Market-wide bid-offer data (BOD)
      description: "This endpoint provides market-wide bid-offer data, for all BMUs or a requested set of multiple BMUs.\nIt returns the data valid for a given settlement period, excluding any results where LevelFrom and LevelTo are both zero.\n            \nThe settlement period to query must be specified as a date and settlement period. The date should be provided in the format yyyy-MM-dd."
      parameters:
      - name: settlementDate
        in: query
        description: The settlement date to filter.
        required: true
        schema:
          type: string
          format: date
          example: '2022-09-22'
        example: '2022-09-22'
      - name: settlementPeriod
        in: query
        description: The settlement period to filter. This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 1
        example: 1
      - name: bmUnit
        in: query
        description: The BM Units to query. Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.
        schema:
          type: array
          items:
            type: string
          example:
          - 2__HFLEX001
          - HUMR-1
        example:
        - 2__HFLEX001
        - HUMR-1
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
components:
  schemas:
    Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.BidOfferResponse'
          nullable: true
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Metadata.ApiResponseSourceMetadata:
      type: object
      properties:
        datasets:
          type: array
          items:
            type: string
          nullable: true
          example:
          - DATASET
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.BidOfferResponse:
      type: object
      properties:
        settlementDate:
          type: string
          format: date
          example: '2022-07-25'
        settlementPeriod:
          type: integer
          format: int32
          example: 3
        nationalGridBmUnit:
          type: string
          nullable: true
          example: ABRBO-1
        bmUnit:
          type: string
          nullable: true
          example: T_ABRBO-1
        timeFrom:
          type: string
          format: date-time
          example: '2022-07-01T13:34:00Z'
        timeTo:
          type: string
          format: date-time
          example: '2022-07-01T13:34:00Z'
        levelFrom:
          type: integer
          format: int32
          example: 5
        levelTo:
          type: integer
          format: int32
          example: 46
        bid:
          type: number
          format: double
          example: 668.67
        offer:
          type: number
          format: double
          example: -71.5
        pairId:
          type: integer
          format: int32
          example: 1
      additionalProperties: false
