openapi: 3.2.0
info:
  title: Insights.Api Balancing Services Adjustment - Disaggregated…
  version: '1.0'
  description: Adjustment actions (DISBSAD) for a given settlement period, or summarised by settlement period over a time range.
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- name: Balancing Services Adjustment - Disaggregated
  description: Adjustment actions (DISBSAD) for a given settlement period, or summarised by settlement period over a time range.
paths:
  /balancing/nonbm/disbsad/summary:
    get:
      tags:
      - Balancing Services Adjustment - Disaggregated
      summary: Disaggregated balancing services adjustment time series (DISBSAD)
      description: 'This endpoint provides disaggregated balancing services adjustment data batched by settlement period. Each

        batch in the time series contains a summary of all records for that settlement period, detailing the number of

        buy and sell actions, price information and volume information.


        By default, the from and to parameters filter the data by start time inclusively. If the settlementPeriodFrom or

        settlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement

        date, allowing for searching by a combination of start time and/or settlement date & settlement period.

        Note: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For

        example, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.


        All Dates and DateTimes should be expressed as defined within

        RFC 3339.


        Some examples of date parameter combinations are shown below.


        Filtering from start time to start time:


        /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z


        Filtering from start time to settlement date and period:


        /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1


        Filtering from settlement date and period to start time:


        /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1


        Filtering from settlement date and period to settlement date and period:


        /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1'
      parameters:
      - name: from
        in: query
        description: The "from" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-20T00:00Z
        example: 2022-09-20T00:00Z
      - name: to
        in: query
        description: The "to" start time or settlement date for the filter.
        required: true
        schema:
          type: string
          format: date-time
          example: 2022-09-27T00:00Z
        example: 2022-09-27T00:00Z
      - name: settlementPeriodFrom
        in: query
        description: The "from" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: settlementPeriodTo
        in: query
        description: The "to" settlement period for the filter. This should be an integer from 1-50 inclusive.
        schema:
          type: integer
          format: int32
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingNonbmDisbsadSummary
      x-operation-id-source: derived
  /balancing/nonbm/disbsad/details:
    get:
      tags:
      - Balancing Services Adjustment - Disaggregated
      summary: Disaggregated balancing services adjustment per settlement period (DISBSAD)
      description: 'This endpoint provides disaggregated balancing services adjustment data for a single settlement period. The

        response includes all the buying and selling actions that occurred during that settlement period.


        Date parameter must be provided in the exact format yyyy-MM-dd.'
      parameters:
      - name: settlementDate
        in: query
        description: The settlement date to query.
        required: true
        schema:
          type: string
          format: date
          example: '2022-10-26'
        example: '2022-10-26'
      - name: settlementPeriod
        in: query
        description: The settlement period to query. This should be an integer from 1-50 inclusive.
        required: true
        schema:
          type: integer
          format: int32
          example: 3
        example: 3
      - name: format
        in: query
        description: Response data format. Use json/xml to include metadata.
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
      responses:
        '200':
          description: Data retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
        '429':
          description: Too many requests
        '400':
          description: Error with query parameters - see response for details
        '500':
          description: Server error - please try again later
      operationId: getBalancingNonbmDisbsadDetails
      x-operation-id-source: derived
components:
  schemas:
    Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse:
      type: object
      properties:
        settlementDate:
          type: string
          format: date
          example: '2022-06-25'
        settlementPeriod:
          type: integer
          format: int32
          example: 29
        startTime:
          type: string
          format: date-time
          example: '2022-06-25T13:00:00Z'
        id:
          type: integer
          format: int32
          example: 1
        cost:
          type:
          - number
          - 'null'
          format: double
          example: 1850.9
        volume:
          type: number
          format: double
          example: 5
        price:
          type:
          - number
          - 'null'
          format: double
          example: 370.18
        soFlag:
          type: boolean
        storFlag:
          type: boolean
        partyId:
          type:
          - string
          - 'null'
          example: ElectroRoute Energy Trading Limited
        assetId:
          type:
          - string
          - 'null'
          example: ING-ELTR1
        isTendered:
          type:
          - boolean
          - 'null'
        service:
          type:
          - string
          - 'null'
          example: Energy
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
    Insights.Api.Models.Metadata.ApiResponseSourceMetadata:
      type: object
      properties:
        datasets:
          type:
          - array
          - 'null'
          items:
            type: string
          example:
          - DATASET
      additionalProperties: false
    Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse:
      type: object
      properties:
        settlementDate:
          type: string
          format: date
          example: '2022-09-26'
        settlementPeriod:
          type: integer
          format: int32
          example: 27
        startTime:
          type: string
          format: date-time
          example: '2022-09-26T13:00:00Z'
        buyActionCount:
          type: integer
          format: int32
          example: 2
        sellActionCount:
          type: integer
          format: int32
          example: 2
        buyPriceMinimum:
          type:
          - number
          - 'null'
          format: double
          example: 10.23
        buyPriceMaximum:
          type:
          - number
          - 'null'
          format: double
          example: 30.45
        buyPriceAverage:
          type:
          - number
          - 'null'
          format: double
          example: 20.34
        sellPriceMinimum:
          type:
          - number
          - 'null'
          format: double
          example: 1.23
        sellPriceMaximum:
          type:
          - number
          - 'null'
          format: double
          example: 3.45
        sellPriceAverage:
          type:
          - number
          - 'null'
          format: double
          example: 2.34
        buyVolumeTotal:
          type:
          - number
          - 'null'
          format: double
          example: 40.68
        sellVolumeTotal:
          type:
          - number
          - 'null'
          format: double
          example: 4.68
        netVolume:
          type:
          - number
          - 'null'
          format: double
          example: 36
      additionalProperties: false
    ? Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse
    : type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
        metadata:
          $ref: '#/components/schemas/Insights.Api.Models.Metadata.ApiResponseSourceMetadata'
      additionalProperties: false
